/* Base styles for widget */
/* overwrite select2 styles */
.select2-drop-active input:focus,
.select2-container-multi .select2-choices .select2-search-field input:focus {
  background: none repeat scroll 0 0 #FFF8C6 !important;
}
.select2-container.select2-container-active.select2-dropdown-open .select2-choice {
  background: none !important;
}
.select2-container.select2-container-active.select2-dropdown-open {
  background-color: #ECF3F8;
}
.select2-drop {
  background-color: #ECF3F8;
}
