/*** template-list.html ***/
.lf-form.lf-template-list .lf-de-label {
  background-color: #e8e8e8;
  padding: 2px;
  font-weight: 400;
  line-height: 28px;
}
.lf-form.lf-template-list .help-button {
  line-height: 20px;
}
.lf-form.lf-template-list .data-row {
  border: 2px solid #ced5d9;
  margin: 10px 5px;
}

.lf-form.lf-template-list .section {
  margin: 10px;
}

.lf-form.lf-template-list .lf-form-title,
.lf-form.lf-template-list .lf-form-header {
  margin: 0 5px;
}

.lf-form.lf-template-list .lf-form-item-data,
.lf-form.lf-template-list .lf-field-units {
  padding: 2px;
}

.lf-form.lf-template-list .lf-field-answers {
}

.lf-form.lf-template-list .lf-list-answer {
  padding: 2px 5px;
}
.lf-form.lf-template-list .lf-list-answer input[type="radio"],
.lf-form.lf-template-list .lf-list-answer input[type="checkbox"] {
  margin-right: 2px;
}

.lf-form.lf-template-list .lf-layout-horizontal .lf-form--table-title {
  padding: 5px;
}

.lf-form.lf-template-list .lf-list-item,
.lf-form.lf-template-list .lf-layout-horizontal,
.lf-form.lf-template-list .lf-layout-matrix{
  /*padding-bottom: 2px;*/
}
.lf-form . .lf-form-table-title {

}
.lf-form .lf-form-horizontal-table {
  margin-bottom: 5px;
}
.lf-form .float-button {
  margin-bottom: 2px;
}
/*** end of template-list.html ***/
