* text=auto
npm-shrinkwrap.json -diff
themes.css -diff
app/scripts/fhir/*/lformsFHIR.js -diff
app/scripts/fhir/*/lformsFHIR.js linguist-generated
app/styles/themes.css linguist-generated
bower-dist linguist-generated
