<div *ngIf="item" class="lhc-layout-matrix lf-table-item {{lhcDataService.getSiblingStatus(item)}}">
  <div class="lf-form-matrix-table-title" *ngIf="!formLevel">
    <lhc-item-question-text [item]="item" ></lhc-item-question-text>
  </div>

  <table class="lf-form-matrix-table lf-form-table">
      <colgroup>
        <col class="lf-question">
        <col *ngFor="let answer of item.items[0].answers">
        <col class="other-answer" *ngIf="item.items[0].dataType ==='CWE'">
      </colgroup>
      <thead>

      <tr class="lhc-matrix-table-header-row">
        <th class="lf-question lf-form-table-header"></th>
        <th>{{item.question}}</th>
        <th *ngFor="let header of uniqueGridHeaders; index as i;"
            class="lf-form-matrix-cell lf-form-table-header"
            id="answer-{{index}}">{{header}}</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let subItem of item.items; trackBy: lhcDataService.trackByElementId">
        <tr *ngIf="!subItem._isHiddenFromView" role="radiogroup"
            aria-labeledby="label-{{subItem._elementId }}"
            aria-describedby="help-{{ subItem._parentItem._elementId }} help-{{ subItem._elementId }}">
          <td class="lf-question">
            <lhc-item-question-text [item]="subItem" ></lhc-item-question-text>
            <lhc-item-messages [item]="subItem" ></lhc-item-messages>
          </td>
          
          <td>
            <div class="lf-form-item-data tooltipContainer">
              <lhc-item-question [item]="subItem" [options]="{hideQuestionText: true}" class="lhc-de"></lhc-item-question>
            </div>
          </td> 

          <ng-container *ngFor="let cell of subItem.items; trackBy: lhcDataService.trackByElementId">
            <td *ngIf="!cell._isHiddenFromView"
                class="{{lhcDataService.getRowClass(cell)}} {{lhcDataService.getSkipLogicClass(cell)}} {{lhcDataService.getActiveRowClass(cell)}}">
              <div class="lf-form-item-data tooltipContainer">
                <lhc-item-question [item]="cell" [options]="{hideQuestionText: true}" class="lhc-de"></lhc-item-question>
              </div>
            </td>
          </ng-container>

        </tr>
      </ng-container>
      </tbody>
    </table>

</div>
