<form *ngIf="lhcFormData" class="lhc-form lf-template-table novalidate {{viewModeClass}}" autocomplete="false" #lhcFormContainer>

    <div class="lhc-form-title" role="heading" aria-level=1>
      <span id="label-{{ lhcFormData.code }}" class="lf-question"
       style="{{lhcFormData._obj_titleCSS}}">{{lhcFormData.name || lhcFormData.fhirQName}}</span>
      <span class="lf-item-code" ng-if="lhcFormData.templateOptions.showQuestionCode">
            <a *ngIf="lhcFormData._linkToDef" href="{{ lhcFormData._linkToDef }}" target="_blank" rel="noopener noreferrer">[{{ lhcFormData.code }}]</a>
            <span *ngIf="!lhcFormData._linkToDef">[{{ lhcFormData.code }}]</span>
          </span>
      <!-- <button ng-if="lhcFormData.copyrightNotice" id="copyright-{{lhcFormData.code}}" type="button"
              class="lf-copyright-button btn-sm" uib-popover="{{lhcFormData.copyrightNotice}}"
              popover-trigger="focus" popover-placement="right"
              popover-title="Copyright" aria-label="Copyright notice"
              aria-describedby="label-{{ lhcFormData.code }}">
        <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
      </button> -->
      <button *ngIf="lhcFormData.templateOptions.showFormOptionPanelButton" type="button" class="lf-control-button btn-sm"
              (click)="hideShowFormOptionPanel()" aria-label="Form Option Panel">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button>
    
    </div>

    <!--form body-->
    <div class="lhc-form-body">
      <!--check form level questionLayout for matrix and horizontal layouts-->
        <!--vertical-->
          <!-- data row, for each item -->
          <!-- check each top level item's questionLayout -->
          <ng-container *ngIf="lhcFormData.items">
            <ng-container *ngFor ="let item of lhcFormData.items">
              <lhc-item [item]="item" class="lhc-item {{getSiblingStatus(item)}} {{getRowClass(item)}}"></lhc-item>
              <!--header item-->
            </ng-container>
          </ng-container>
    </div>
</form>
