<!-- 
<span [ngSwitch]="getCodingInstructionsDisplayType(item)" *ngIf="item.codingInstructions">
  <span ng-switch-when="inline-html" id="help-{{ item._elementId }}"
   class="lf-prompt" ng-bind-html="getTrustedCodingInstructions(item)"></span>
  <span ng-switch-when="inline-escaped" id="help-{{ item._elementId }}"
   class="lf-prompt" ng-bind="item.codingInstructions"></span>
  <button ng-switch-when="popover-html" id="helpButton-{{ item._elementId }}"
          class="lf-help-button btn-sm" uib-popover-template="'popover-content.html'"
          popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
          type="button" aria-label="Help"
          aria-describedby="label-{{ item._elementId }}">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </button>
  <button ng-switch-when="popover-escaped" id="helpButton-{{ item._elementId }}"
          class="lf-help-button btn-sm" uib-popover="{{item.codingInstructions}}"
          popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
          type="button" aria-label="Help"
          aria-describedby="label-{{ item._elementId }}">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </button>
</span>
<button ng-if="item.copyrightNotice" id="copyright-{{item._elementId}}" type="button"
        class="lf-copyright-button btn-sm" uib-popover="{{item.copyrightNotice}}"
        popover-trigger="focus" popover-placement="right" popover-title="Copyright"
        aria-label="Copyright notice" aria-describedby="label-{{ item._elementId }}">
  <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
</button>
<button ng-if="isItemOptionPanelButtonShown(item)" type="button" class="lf-control-button btn-sm"
        ng-click="hideShowItemOptionPanel(item)" aria-label="Item controls"
        aria-describedby="label-{{ item._elementId }}">
  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
</button> 
-->