/* borders for invalid fields */
.lhc-form input.ng-invalid.ng-dirty,
.lhc-form div.ng-invalid.ng-dirty {
  border: 2px solid #FF0000;
}

/* validations messages for invalid fields */
.lhc-form .hasTooltip {
  overflow: visible;
}
.lhc-form .tooltipContent {
  display: none;
}
.lhc-form .lf-visited-before .ng-invalid > .tooltipContainer:hover .tooltipContent,
.lhc-form .active-row.lf-visited-before .ng-invalid > .tooltipContainer .tooltipContent,
.lhc-form .lf-show-validation .ng-invalid > .tooltipContainer .tooltipContent {
  border-radius: 6px;
  bottom: 35px;
  background-color: #fcf8e3;
  left: 5px;
  padding: 9px 14px;
  position: absolute;
  z-index: 98;
  max-width: 600px;
  width: auto;
  display: block;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  border: 1px solid #eea236;

}
.lhc-form .lf-visited-before .ng-invalid > .tooltipContainer:hover:before,
.lhc-form .active-row.lf-visited-before .ng-invalid > .tooltipContainer:before,
.lhc-form .lf-show-validation .ng-invalid > .tooltipContainer:before {
  border: solid;
  border-color: #fcf8e3 transparent;
  border-width: 11px 11px 0 11px;
  bottom: 25px;
  content: "";
  left: 15px;
  position: absolute;
  z-index: 99;
}

/* Hiding the error message bubble for DTM - datetimepicker controls the input and it doesn't
   run through our validation process.
   See below (commented out) on a potential way to deliver the error message - there are still issues to work out.
*/
.lhc-form .lf-datatype-DTM .lf-visited-before .ng-invalid > .tooltipContainer:hover:before,
.lhc-form .lf-datatype-DTM .active-row.lf-visited-before .ng-invalid > .tooltipContainer:before,
.lhc-form .lf-datatype-DTM .lf-show-validation .ng-invalid > .tooltipContainer:before {
  display:none;
}

/* An alternative way of managing/displaying error messages for DTM (where the datetimepicker controls
   many things), could explore down the road.
.lhc-form .lf-datatype-DTM .ng-invalid > .tooltipContainer .tooltipContent:before {
  bottom: -1px;
  left: -6px;
  content: "It must be a date and time value."
}
*/


.lhc-form .lf-visited-before .ng-invalid input[type="number"],
.lhc-form .lf-visited-before .ng-invalid input[type="text"],
.lhc-form .lf-visited-before .ng-invalid textarea,
.lhc-form .lf-show-validation .ng-invalid input[type="number"],
.lhc-form .lf-show-validation .ng-invalid input[type="text"],
.lhc-form .lf-show-validation .ng-invalid textarea {
  border-color: red;
}
.validation-error:before {
  content: '\2022';
  padding-right: 1rem;
}
/* end of validation messages */