<div class="lf-field-units" ng-switch on="item.displayControl.unitLayout">
  <!--list style-->
  <div ng-switch-when="RADIO_CHECKBOX">
    <span ng-repeat="unit in item.units">
      <label>
        <input type="radio" ng-model="item.unit" ng-value="unit" >{{unit.name}}
      </label>
    </span>
  </div>

  <!--COMBO_BOX style (default is 'COMBO_BOX')-->
  <div ng-switch-default>
    <input class="units" type="text" ng-disabled="item._readOnly"
           ng-model="item.unit" autocomplete-lhc="item._unitAutocompOptions"
           placeholder="Select one" id="unit_{{item._elementId}}" aria-labelledby="th_Units">
  </div>

</div>

