<div class="stopped" ng-show="isFormDone()">
  <img ng-src="{{::blankGifDataUrl}}" class="stop-sign">
  <span>This form is complete.</span>
</div>
<div class="lf-form-controls" ng-if="!lfData.templateOptions.hideFormControls">
  <div class="lf-form-control">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.showQuestionCode"> Display Question Code</label>
  </div>

  <div class="lf-form-control">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.showCodingInstruction"> Show Help/Description</label>
  </div>
  <div class="lf-form-control">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.tabOnInputFieldsOnly"> Keyboard Navigation On Input Fields</label>
  </div>
  <div class="lf-form-control">
    <div class="text-info" >Total # of Questions: {{getNumberOfQuestions()}}</div>
  </div>
</div>
