  <div class="lf-form-header" ng-if="lfData.templateOptions.showFormHeader">
    <div class="lf-header-de" ng-style="getHeaderItemStyle(item)"
         ng-repeat="item in lfData.templateOptions.formHeaderItems">
      <div class="lf-header-de-label">
        <span class="lf-question"><label for="{{item.questionCode}}">{{item.question}}</label></span>
      </div>
      <div class="lf-header-de-input" ng-switch on="item.dataType">
        <ng-form name="innerForm">
          <div class="lf-form-item-data tooltipContainer">
            <div class="tooltipContent" lf-validate="item" ng-model="item.value"></div>
            <input ng-switch-when="CWE" name="{{item.question}}" type="text"
                   placeholder="Select or type a value"
                   ng-model="item.value"
                   autocomplete-lhc="item._autocompOptions"
                   id="{{item.questionCode}}"
                   ng-blur="activeRowOnBlur(item)">
            <input ng-switch-when="DT" name="{{item.question}}" type="text"
                   ng-model="item.value" lf-date="dateOptions"
                   placeholder="MM/DD/YYYY"
                   id="{{item.questionCode}}"
                   ng-blur="activeRowOnBlur(item)">
            <input ng-switch-default name="{{item.question}}" type="text"
                   ng-model="item.value" placeholder="Type a value"
                   id="{{item.questionCode}}"
                   ng-blur="activeRowOnBlur(item)">
            <textarea ng-switch-when="TX" name="{{item.question}}"
                      ng-model="item.value" placeholder="Type a value"
                      id="{{item.questionCode}}" ng-keyup="autoExpand($event)" ng-blur="autoExpand($event)" rows="1"
                      ng-blur="activeRowOnBlur(item)">
                      </textarea>
          </div>
        </ng-form>
      </div>
    </div>
  </div>
