<div class="lf-form-title" role="heading" aria-level=1>
  <span id="label-{{ lfData.code }}" class="lf-question">{{lfData.name}}</span>
  <span class="lf-item-code" ng-if="lfData.templateOptions.showQuestionCode">
        <a ng-if="lfData._linkToDef" href="{{ lfData._linkToDef }}" target="_blank">[{{ lfData.code }}]</a>
        <span ng-if="!lfData._linkToDef">[{{ lfData.code }}]</span>
      </span>
  <button ng-if="lfData.copyrightNotice" id="copyright-{{lfData.code}}" type="button"
          class="lf-copyright-button btn-sm" uib-popover="{{lfData.copyrightNotice}}"
          popover-trigger="focus" popover-placement="right"
          popover-title="Copyright" aria-label="Copyright notice"
          aria-describedby="label-{{ lfData.code }}">
    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
  </button>
  <button ng-if="lfData.templateOptions.showFormOptionPanelButton" type="button" class="lf-control-button btn-sm"
          ng-click="hideShowFormOptionPanel()" aria-label="Form Option Panel">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </button>

</div>
