<div class="stopped" ng-show="isFormDone()"><img ng-src="{{::blankGifDataUrl}}" class="stop-sign"><span>This form is complete.</span></div>
<div class="row" ng-if="!hideHeader">
  <div class="col-md-3 col-xs-3">
    <div ng-hide="hideCheckBoxes" class="checkbox">
      <label><input type="checkbox" value="" ng-model="lfData.templateOption.showQuestionCode">Display Question Code</label>
    </div>
  </div>
  <div class="col-md-3 col-xs-3">
    <div ng-hide="hideCheckBoxes" class="checkbox">
      <label><input type="checkbox" value="" ng-model="lfData.templateOption.showCodingInstruction">Show Help/Description</label>
    </div>
  </div>
  <div class="col-md-3 col-xs-3">
    <div ng-hide="{{hideCheckBoxes}}" class="checkbox">
      <label><input type="checkbox" value="" ng-model="lfData.templateOption.tabOnInputFieldsOnly">Keyboard Navigation On Input Fields</label>
    </div>
  </div>
  <div class="col-md-3 col-xs-3 text-right">
    <div class="text-info" >Total # of Questions: {{lfData.itemList.length}}</div>
  </div>

</div>
