<div class="lf-form-options" ng-if="lfData.templateOptions.showFormOptionPanel">

  <div class="lf-form-option">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.showQuestionCode">Display question code</label>
  </div>
  <div class="lf-form-option">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.showCodingInstruction">Show help/description</label>
  </div>
  <div class="lf-form-option">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.hideFormControls">Hide form controls</label>
  </div>
  <div class="lf-form-option">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.showFormOptionPanelButton">Display form's option button</label>
  </div>
  <div class="lf-form-option">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.showFormOptionPanel">Display form's option panel</label>
  </div>
  <div class="lf-form-option">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.showItemOptionPanelButton">Display item's option button</label>
  </div>
  <div class="lf-form-option">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.hideUnits">Hide units</label>
  </div>
  <div class="lf-form-option">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.allowMultipleEmptyRepeatingItems">Allow multiple empty repeating questions/sections</label>
  </div>
  <div class="lf-form-option">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.allowHTMLInInstructions">Allow HTML content in instructions</label>
  </div>
  <div class="lf-form-option">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.showFormHeader">Display form header questions</label>
  </div>
  <div class="lf-form-option">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.showColumnHeaders">Display column headers</label>
  </div>
  <div class="lf-form-option">
    <label><input type="checkbox" value="" ng-model="lfData.templateOptions.useTreeLineStyle">Tree line style</label>
  </div>
  <div class="lf-form-option">
    <label for="viewMode">View mode</label>
    <select name="viewMode" ng-model="lfData.templateOptions.viewMode">
      <option value="auto">Responsive [auto]</option>
      <option value="lg">For large screen [lg]</option>
      <option value="md">For medium screen [md]</option>
      <option value="sm">For small screen [sm]</option>
    </select>

  </div>

</div>
