  <table class="t-treeline-field" >
    <tr>
      <td ng-repeat="lastStatus in item._lastSiblingList track by $index"
          class="t-treeline "
          ng-class="getTreeLevelClass($index, item._lastSiblingList)" > &nbsp; </td>
      <td>
        <div class="name-label">
          <div class="lf-form-horizontal-table-title">
            {{item.question}}
          </div>

          <table class="lf-form-table lf-form-horizontal-table">
            <colgroup>
              <col class="button-col">
              <col ng-repeat="col in lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders"
                   ng-style="{{getTableColumnStyle(col)}}">
            </colgroup>
            <thead>
            <tr>
              <th class="lf-form-table-header"></th>
              <th ng-repeat="col in lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders"
                  class="lf-form-table-header"
                  id="{{col.id}}">{{col.label}}</th>
            </tr>
            </thead>
            <tbody id="" class="">
            <tr ng-repeat="row in lfData._horizontalTableInfo[item._horizontalTableId].tableRows track by $index"
                class="data-row has-ng-animate">
              <td class="button-col">
                <button ng-if="!hasOneRepeatingItem(item)" type="button"
                        id="del-{{row.header._elementId}}"
                        class="float-button" ng-click="removeOneRepeatingItem(row.header)"
                        title="Remove this row of '{{ row.header.question }}'">-</button>
              </td>

              <td ng-repeat="cell in row.cells"
                  class="hasTooltip"
                  ng-switch on="cell.dataType">
                <ng-form name="innerForm2">
                  <div class="lf-form-item-data tooltipContainer">
                    <span class="tooltipContent">
                      <div class="errorMsg errorRequired">"{{ cell.question }}" requires a value.</div>
                      <div class="errorMsg errorPattern">"{{ cell.question }}" requires a text pattern.</div>
                      <div class="errorMsg errorMax">"{{ cell.question }}" requires a maximum value of ??.</div>
                      <div class="errorMsg errorMin">"{{ cell.question }}" requires a minimum value of ??.</div>
                      <div class="errorMsg errorMaxlength">"{{ cell.question }}" requires a maximum length of ??.</div>
                      <div class="errorMsg errorMinlength">"{{ cell.question }}" requires a minimum length of ??.</div>
                      <div class="errorMsg errorURL">"{{ cell.question }}" requires a url.</div>
                      <div class="errorMsg errorEmail">"{{ cell.question }}" requires an email.</div>
                      <div class="errorMsg errorNumber">"{{ cell.question }}" requires a numeric value.</div>
                      <div class="errorMsg errorREAL">"{{ cell.question }}" requires a decimal value.</div>
                      <div class="errorMsg errorINT">"{{ cell.question }}" requires a integer value.</div>
                      <div class="errorMsg errorTM">"{{ cell.question }}" requires a time value.</div>
                      <div class="errorMsg errorDT">"{{ cell.question }}" requires a date value.</div>
                    </span>  <!-- validation error messages -->
                    <span ng-switch-when="" > </span>
                    <input ng-switch-when="CNE" name="{{cell.question + '_' + $id}}" type="text"
                           ng-required="cell._answerRequired" ng-model="cell.value"
                           autocomplete-lhc="cell._autocompOptions"
                           ng-readonly="cell._readOnly" placeholder="{{cell._toolTip}}"
                           id="{{cell._elementId}}"
                           aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}">
                    <input ng-switch-when="CWE" name="{{cell.question + '_' + $id}}" type="text"
                           ng-required="cell._answerRequired" ng-model="cell.value"
                           autocomplete-lhc="cell._autocompOptions"
                           ng-readonly="cell._readOnly" placeholder="{{cell._toolTip}}"
                           id="{{cell._elementId}}"
                           aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}">
                    <input ng-switch-when="REAL" name="{{cell.question}}" type="number"
                           ng-required="cell._answerRequired" ng-model="cell.value"
                           placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                           id="{{cell._elementId}}"
                           aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}">
                    <input ng-switch-when="INT" name="{{cell.question}}" type="number"
                           ng-required="cell._answerRequired" ng-model="cell.value"
                           placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                           id="{{cell._elementId}}"
                           aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}">
                    <input ng-switch-when="DT" name="{{cell.question}}" type="text"
                           ng-required="cell._answerRequired" ng-model="cell.value"
                           lf-date="dateOptions" placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                           id="{{cell._elementId}}"
                           aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}">
                    <textarea ng-switch-when="TX" name="{{cell.question}}" ng-required="cell._answerRequired"
                              ng-model="cell.value" placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                              id="{{cell._elementId}}"
                              aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                              ng-keyup="autoExpand($event)" rows="1"></textarea>
                    <input ng-switch-default name="{{cell.question}}" ng-required="cell._answerRequired" type="text"
                           ng-model="cell.value" placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                           id="{{cell._elementId}}"
                           aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}">
                  </div>
                </ng-form>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </table>
