<div class="data-cell col-xs-12 lf-no-padding">
  <!-- label -->
  <div class="lf-item-label-button {{getGridColClass(item,0)}}">
    <div class="name-label col-xs-11 lf-no-padding">
      <span ng-show="item._questionRepeatable" class="sn">{{getRepeatingSN(item) }}</span>
      <span><label for="{{item._elementId}}">{{item.question}}</label></span>
      <span class="item-code" ng-show="lfData.templateOptions.showQuestionCode">
                      <a ng-if="item._linkToDef" href="{{ item._linkToDef }}" target="_blank">[{{ item.questionCode }}]</a>
                      <span ng-if="!item._linkToDef">[{{ item.questionCode }}]</span>
                    </span>
      <span ng-switch on="getCodingInstructionsDisplayType(item)" ng-if="item.codingInstructions">
                      <span ng-switch-when="inline-html" class="prompt" ng-bind-html="getTrustedCodingInstructions(item)"></span>
                      <span ng-switch-when="inline-escaped" class="prompt" ng-bind="item.codingInstructions"></span>
                      <button ng-switch-when="popover-html" class="help-button" uib-popover-template="'popover.html'"
                              popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                              type="button" id="help-{{item._elementId}}">?</button>
                      <button ng-switch-when="popover-escaped" class="help-button" uib-popover="{{item.codingInstructions}}"
                              popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                              type="button" id="help-{{item._elementId}}">?</button>
                    </span>
      <button ng-if="item.copyrightNotice" id="copyright-{{item._elementId}}" type="button"
              class="copyright-button" uib-popover="{{item.copyrightNotice}}"
              popover-trigger="focus" popover-placement="right" popover-title="Copyright">&#9400;</button>
    </div>

    <!-- button -->
    <div class="button-col lf-no-padding pull-right">
      <button ng-if="!hasOneRepeatingItem(item)" class="float-button" type="button"
              ng-click="removeOneRepeatingItem(item)" id="del-{{item._elementId}}"
              title="Remove this '{{ item.question }}'">-</button>
    </div>
  </div>

  <div class="lf-item-input-unit {{getGridColClass(item,1)}}" ng-style="getScreenWidth()">
    <!-- input field -->
    <div ng-switch on="item.dataType" class="data-cell values hasTooltip {{getGridColClass(item,2)}}">
      <ng-form name="innerForm2">
        <div class="lf-form-item-data tooltipContainer">
          <div class="tooltipContent" lf-validate="item" ng-model="item.value" ng-if="item._hasValidation"></div>
          <span ng-switch-when="SECTION" id="{{item._elementId}}"> </span>
          <input ng-switch-when="CNE" name="{{item.question +'_'+ $id}}" type="text"
                 ng-model="item.value" autocomplete-lhc="item._autocompOptions"
                 ng-readonly="item._readOnly" placeholder="{{item._toolTip}}"
                 id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-blur="activeRowOnBlur(item)">
          <input ng-switch-when="CWE" name="{{item.question +'_'+ $id}}" type="text"
                 ng-model="item.value" autocomplete-lhc="item._autocompOptions"
                 ng-readonly="item._readOnly" placeholder="{{item._toolTip}}"
                 id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-blur="activeRowOnBlur(item)">
          <input ng-switch-when="REAL" name="{{item.question}}" type="text"
                 ng-model="item.value" placeholder="{{item._toolTip}}"
                 ng-readonly="item._readOnly" id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-blur="activeRowOnBlur(item)">
          <input ng-switch-when="INT" name="{{item.question}}" type="text"
                 ng-model="item.value" placeholder="{{item._toolTip}}"
                 ng-readonly="item._readOnly" id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-blur="activeRowOnBlur(item)">
          <input ng-switch-when="DT" name="{{item.question}}" type="text"
                 ng-model="item.value" lf-date="dateOptions" placeholder="{{item._toolTip}}"
                 ng-readonly="item._readOnly" id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-blur="activeRowOnBlur(item)">
          <textarea ng-switch-when="TX" name="{{item.question}}"
                    ng-model="item.value" placeholder="{{item._toolTip}}" ng-readonly="item._readOnly"
                    id="{{item._elementId}}" ng-keyup="autoExpand($event)" ng-blur="autoExpand($event)" rows="1"
                    ng-focus="setActiveRow(item)"
                    ng-blur="activeRowOnBlur(item)">
                      </textarea>
          <input ng-switch-default name="{{item.question}}" type="text"
                 ng-model="item.value" placeholder="{{item._toolTip}}" ng-readonly="item._readOnly"
                 id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-blur="activeRowOnBlur(item)">
        </div>
      </ng-form>
    </div>

    <!--units-->
    <div ng-switch on="checkUnits(item)" ng-if="!lfData.templateOptions.hideUnits" class="data-cell units {{getGridColClass(item,3)}}">
      <input class="units" ng-switch-when="list" type="text"
             ng-model="item.unit" autocomplete-lhc="item._unitAutocompOptions"
             placeholder="Select one" aria-labelledby="th_Units">
      <span ng-switch-when="none" > </span>
    </div>

    <!-- extra question -->
    <div ng-if="needExtra(item)" class="extra-row lf-form-table-row row col-xs-12 lf-no-padding">
      <div class="data-cell extra-field col-xs-12 lf-no-padding">
        <input ng-model="item.valueOther" placeholder="Please specify" ng-readonly="item._readOnly" type="text" ng-focus="setActiveRow(item)">
      </div>
    </div>
  </div>

  <!-- title row -->
  <div ng-if="item.dataType==='TITLE'" class="title-row lf-form-table-row {{getGridColClass(item,0)}}">
            <div class="name-label">
              <span><label for="{{item._elementId}}">{{item.question}}</label></span>
              <span ng-switch on="getCodingInstructionsDisplayType(item)" ng-if="item.codingInstructions"></span>
              <span ng-switch-when="inline-html" class="prompt" ng-bind-html="getTrustedCodingInstructions(item)"></span>
              <span ng-switch-when="inline-escaped" class="prompt" ng-bind="item.codingInstructions"></span>
              <button ng-switch-when="popover-html" class="help-button" uib-popover-template="'popover.html'"
                      popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                      type="button" id="help-{{item._elementId}}">?</button>
              <button ng-switch-when="popover-escaped" class="help-button" uib-popover="{{item.codingInstructions}}"
                      popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                      type="button" id="help-{{item._elementId}}">?</button>
              <button ng-if="item.copyrightNotice" id="copyright-{{item._elementId}}" type="button"
                      class="copyright-button" uib-popover="{{item.copyrightNotice}}"
                      popover-trigger="focus" popover-placement="right" popover-title="Copyright">&#9400;</button>
            </div>
  </div>

</div>

