<div ng-if="item._showItemOptionPanel">

  <div class="lf-item-options lf-section-options"  ng-if="item.dataType==='SECTION'">
    <div class="lf-item-option">
      <input class="lf-answer-button" type="radio" id="{{item._elementId + 'vertical'}}"
             ng-model="item.displayControl.questionLayout" value="vertical" name="{{item._elementId}} +'option'">
      <label class="lf-answer-label" for="{{item._elementId + 'vertical'}}">Vertical</label>
    </div>
    <div class="lf-item-option" ng-if="isQuestionLayoutAllowed(item, 'horizontal')">
      <input class="lf-answer-button" type="radio" id="{{item._elementId + 'horizontal'}}"
             ng-model="item.displayControl.questionLayout" value="horizontal" name="{{item._elementId}} +'option'">
      <label class="lf-answer-label" for="{{item._elementId + 'horizontal'}}">Horizontal</label>
    </div>
    <div class="lf-item-option" ng-if="isQuestionLayoutAllowed(item, 'matrix')">
      <input class="lf-answer-button" type="radio" id="{{item._elementId + 'matrix'}}"
             ng-model="item.displayControl.questionLayout" value="matrix" name="{{item._elementId}} +'option'">
      <label class="lf-answer-label" for="{{item._elementId + 'matrix'}}">Matrix</label>
    </div>

  </div>

  <div class="lf-item-options" ng-if="item.answers && (item.dataType==='CWE' || item.dataType==='CNE')">
    <div class="lf-item-option">
      <input class="lf-answer-button" type="radio" id="{{item._elementId + 'combo'}}"
             ng-model="item.displayControl.answerLayout.type" value="COMBO_BOX" name="{{item._elementId}} +'option'">
      <label class="lf-answer-label" for="{{item._elementId + 'combo'}}">Combo box</label>
    </div>
    <div class="lf-item-option">
      <input class="lf-answer-button" type="radio" id="{{item._elementId + 'list'}}"
             ng-model="item.displayControl.answerLayout.type" value="RADIO_CHECKBOX" name="{{item._elementId}} +'option'">
      <label class="lf-answer-label" for="{{item._elementId + 'list'}}">{{item._multipleAnswers ? "Checkboxes" : "Radio buttons"}}</label>
    </div>
    <div class="lf-item-option" ng-if="item.displayControl.answerLayout.type==='RADIO_CHECKBOX'">
      <label for="{{item._elementId + 'columns'}}"> Display format:</label>
      <select name="{{item._elementId + 'columns'}}" id="{{item._elementId + 'columns'}}" ng-model="item.displayControl.answerLayout.columns">
        <option value="">---Please select---</option> <!-- not selected / blank option -->
        <option value="0">Compact</option>
        <option value="1">In 1 column</option>
        <option value="2">In 2 columns</option>
        <option value="3">In 3 columns</option>
        <option value="4">In 4 columns</option>
        <option value="5">In 5 columns</option>
        <option value="6">In 6 columns</option>
      </select>
    </div>
  </div>

</div>
