<div class="lf-form-table-row lf-de {{getSiblingStatus(item)}} {{getRowClass(item)}}
    {{getSkipLogicClass(item)}} {{getActiveRowClass(item)}}" ng-click="setActiveRow(item)">
  <div class="lf-de-label-button">
    <!-- label -->
    <div class="lf-de-label">
      <span ng-show="item._questionRepeatable" class="lf-sn">{{getRepeatingSN(item) }}</span>
      <span class="lf-question"><label for="{{item._elementId}}">{{item.question}}</label></span>
      <span class="lf-item-code" ng-show="lfData.templateOptions.showQuestionCode">
                      <a ng-if="item._linkToDef" href="{{ item._linkToDef }}" target="_blank">[{{ item.questionCode }}]</a>
                      <span ng-if="!item._linkToDef">[{{ item.questionCode }}]</span>
                    </span>
      <span ng-switch on="getCodingInstructionsDisplayType(item)" ng-if="item.codingInstructions">
                      <span ng-switch-when="inline-html" class="prompt" ng-bind-html="getTrustedCodingInstructions(item)"></span>
                      <span ng-switch-when="inline-escaped" class="prompt" ng-bind="item.codingInstructions"></span>
                      <button ng-switch-when="popover-html" class="help-button" uib-popover-template="'popover.html'"
                              popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                              type="button" id="help-{{item._elementId}}">?</button>
                      <button ng-switch-when="popover-escaped" class="help-button" uib-popover="{{item.codingInstructions}}"
                              popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                              type="button" id="help-{{item._elementId}}">?</button>
                    </span>
      <button ng-if="item.copyrightNotice" id="copyright-{{item._elementId}}" type="button"
              class="lf-copyright-button" uib-popover="{{item.copyrightNotice}}"
              popover-trigger="focus" popover-placement="right" popover-title="Copyright">&#9400;</button>
      <button ng-if="lfData.lfData.templateOptions.showFormControlsButton" type="button"
              class="lf-control-button"></button>
    </div>

    <!-- button -->
    <div class="lf-de-button">
      <button ng-if="!hasOneRepeatingItem(item)" class="lf-float-button" type="button"
              ng-click="removeOneRepeatingItem(item)" id="del-{{item._elementId}}"
              title="Remove this '{{ item.question }}'">-</button>
    </div>
  </div>

  <div ng-if="!item.header" class="lf-de-input-unit" ng-style="getScreenWidth()">
    <!-- input field -->
    <div ng-switch on="item.dataType" class="lf-de-input values hasTooltip">
      <ng-form name="innerForm2">
        <div class="lf-form-item-data tooltipContainer">
          <div class="tooltipContent" lf-validate="item" ng-model="item.value" ng-if="item._hasValidation"></div>
          <div ng-switch-when="CNE">
            <lf-answers item="item"></lf-answers>
          </div>
          <div ng-switch-when="CWE">
            <lf-answers item="item"></lf-answers>
          </div>

          <!--<input ng-switch-when="CNE" name="{{item.question +'_'+ $id}}" type="text"-->
                 <!--ng-model="item.value" autocomplete-lhc="item._autocompOptions"-->
                 <!--ng-readonly="item._readOnly" placeholder="{{item._toolTip}}"-->
                 <!--id="{{item._elementId}}" ng-focus="setActiveRow(item)"-->
                 <!--ng-blur="activeRowOnBlur(item)">-->
          <!--<input ng-switch-when="CWE" name="{{item.question +'_'+ $id}}" type="text"-->
                 <!--ng-model="item.value" autocomplete-lhc="item._autocompOptions"-->
                 <!--ng-readonly="item._readOnly" placeholder="{{item._toolTip}}"-->
                 <!--id="{{item._elementId}}" ng-focus="setActiveRow(item)"-->
                 <!--ng-blur="activeRowOnBlur(item)">-->
          <input ng-switch-when="REAL" name="{{item.question}}" type="text"
                 ng-model="item.value" placeholder="{{item._toolTip}}"
                 ng-readonly="item._readOnly" id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-blur="activeRowOnBlur(item)">
          <input ng-switch-when="INT" name="{{item.question}}" type="text"
                 ng-model="item.value" placeholder="{{item._toolTip}}"
                 ng-readonly="item._readOnly" id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-blur="activeRowOnBlur(item)">
          <input ng-switch-when="DT" name="{{item.question}}" type="text"
                 ng-model="item.value" lf-date="dateOptions" placeholder="{{item._toolTip}}"
                 ng-readonly="item._readOnly" id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-blur="activeRowOnBlur(item)">
          <textarea ng-switch-when="TX" name="{{item.question}}"
                    ng-model="item.value" placeholder="{{item._toolTip}}" ng-readonly="item._readOnly"
                    id="{{item._elementId}}" ng-keyup="autoExpand($event)" ng-blur="autoExpand($event)" rows="1"
                    ng-focus="setActiveRow(item)"
                    ng-blur="activeRowOnBlur(item)">
                      </textarea>
          <input ng-switch-default name="{{item.question}}" type="text"
                 ng-model="item.value" placeholder="{{item._toolTip}}" ng-readonly="item._readOnly"
                 id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-blur="activeRowOnBlur(item)">
        </div>
      </ng-form>
    </div>

    <!--&lt;!&ndash;units&ndash;&gt;-->
    <!--<div ng-if="!lfData.templateOptions.hideUnits && checkUnits(item)" class="lf-de-unit">-->
      <!--<input class="units" type="text"-->
             <!--ng-model="item.unit" autocomplete-lhc="item._unitAutocompOptions"-->
             <!--placeholder="Select one" aria-labelledby="th_Units">-->
    <!--</div>-->
    <!--unit-->
    <div ng-if="!lfData.templateOptions.hideUnits && checkUnits(item)" class="lf-de-unit">
      <lf-units item="item"></lf-units>
    </div>

    <!-- extra question -->
    <div ng-if="needExtra(item)" class="lf-de-unit">
      <input class="lf-extra-field" ng-model="item.valueOther" placeholder="Please specify"
             ng-readonly="item._readOnly" type="text" ng-focus="setActiveRow(item)">
    </div>
  </div>

</div>

