<div ng-attr-role="{{item.header ? 'heading' : undefined}}"
 ng-attr-aria-level="{{item.header ? item._displayLevel+1 : undefined}}"
 class="lf-form-table-row lf-de {{getSiblingStatus(item)}} {{getRowClass(item)}}
    {{getSkipLogicClass(item)}} {{getActiveRowClass(item)}}" ng-click="setActiveRow(item)">
  <div class="lf-de-label-button">
    <!-- label -->
    <div class="lf-de-label">
      <span ng-show="item._questionRepeatable" class="lf-sn">{{getRepeatingSN(item) }}</span>
      <span class="lf-question"><label id="label-{{ item._elementId }}" for="{{item._elementId}}">{{item.question}}</label></span>
      <span class="lf-item-code" ng-show="lfData.templateOptions.showQuestionCode">
        <a ng-if="item._linkToDef" href="{{ item._linkToDef }}" target="_blank">[{{ item.questionCode }}]</a>
        <span ng-if="!item._linkToDef">[{{ item.questionCode }}]</span>
      </span>
      <span ng-switch on="getCodingInstructionsDisplayType(item)" ng-if="item.codingInstructions">
        <span ng-switch-when="inline-html" id="help-{{ item._elementId }}"
         class="lf-prompt" ng-bind-html="getTrustedCodingInstructions(item)"></span>
        <span ng-switch-when="inline-escaped" id="help-{{ item._elementId }}"
         class="lf-prompt" ng-bind="item.codingInstructions"></span>
        <button ng-switch-when="popover-html" id="helpButton-{{ item._elementId }}"
                class="lf-help-button btn-sm" uib-popover-template="'popover-content.html'"
                popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                type="button" aria-label="Help"
                aria-describedby="label-{{ item._elementId }}">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        </button>
        <button ng-switch-when="popover-escaped" id="helpButton-{{ item._elementId }}"
                class="lf-help-button btn-sm" uib-popover="{{item.codingInstructions}}"
                popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                type="button" aria-label="Help"
                aria-describedby="label-{{ item._elementId }}">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        </button>
      </span>
      <button ng-if="item.copyrightNotice" id="copyright-{{item._elementId}}" type="button"
              class="lf-copyright-button btn-sm" uib-popover="{{item.copyrightNotice}}"
              popover-trigger="focus" popover-placement="right" popover-title="Copyright"
              aria-label="Copyright notice" aria-describedby="label-{{ item._elementId }}">
        <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
      </button>
      <button ng-if="isItemOptionPanelButtonShown(item)" type="button" class="lf-control-button btn-sm"
              ng-click="hideShowItemOptionPanel(item)" aria-label="Item controls"
              aria-describedby="label-{{ item._elementId }}">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button>
      <!-- TBD -->
      <lf-item-options></lf-item-options>
    </div>

    <!-- button -->
    <div class="lf-de-button">
      <button ng-if="!hasOneRepeatingItem(item)" class="lf-float-button" type="button"
              ng-click="removeOneRepeatingItem(item)" id="del-{{item._elementId}}"
              title='Remove this "{{ item.question }}"'>-</button>
    </div>
  </div>

  <div ng-if="!item.header" class="lf-de-input-unit" ng-style="getFieldWidth(item)">
    <!-- input field -->
    <div ng-switch on="item.dataType" class="lf-de-input values hasTooltip">
      <ng-form name="innerForm2">
        <div class="lf-form-item-data tooltipContainer">
          <div class="tooltipContent" lf-validate="item" ng-model="item.value" ng-if="item._hasValidation"></div>
          <div ng-switch-when="CNE">
            <lf-answers item="item"></lf-answers>
          </div>
          <div ng-switch-when="CWE">
            <lf-answers item="item"></lf-answers>
          </div>

          <input ng-switch-when="DT" name="{{item.question}}" type="text"
                 ng-model="item.value" lf-date="dateOptions" placeholder="{{item._toolTip}}"
                 ng-disabled="item._readOnly" id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-blur="activeRowOnBlur(item)" aria-describedby="help-{{ item._elementId }}">
          <textarea ng-switch-when="TX" name="{{item.question}}"
                    ng-model="item.value" placeholder="{{item._toolTip}}" ng-disabled="item._readOnly"
                    id="{{item._elementId}}" ng-keyup="autoExpand($event)" ng-blur="activeRowOnBlur(item);autoExpand($event)" rows="1"
                    ng-focus="setActiveRow(item)" aria-describedby="help-{{ item._elementId }}">
          </textarea>
          <textarea ng-switch-when="ST" name="{{item.question}}"
                    ng-model="item.value" placeholder="{{item._toolTip}}" ng-disabled="item._readOnly"
                    id="{{item._elementId}}" ng-keyup="autoExpand($event)" ng-blur="activeRowOnBlur(item);autoExpand($event)" rows="1"
                    ng-focus="setActiveRow(item)" aria-describedby="help-{{ item._elementId }}">
          </textarea>
          <input ng-switch-when="BL" name="{{item.question}}" type="checkbox"
                 ng-model="item.value" placeholder="{{item._toolTip}}" ng-disabled="item._readOnly"
                 id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-true-value="true" ng-false-value="false"
                 ng-blur="activeRowOnBlur(item)" aria-describedby="help-{{ item._elementId }}">
          <input ng-switch-default name="{{item.question}}" type="text"
                 ng-model="item.value" placeholder="{{item._toolTip}}" ng-disabled="item._readOnly"
                 id="{{item._elementId}}" ng-focus="setActiveRow(item)"
                 ng-blur="activeRowOnBlur(item)" aria-describedby="help-{{ item._elementId }}">
        </div>
      </ng-form>
    </div>

    <!--unit-->
    <div ng-if="!lfData.templateOptions.hideUnits && checkUnits(item)" class="lf-de-unit">
      <lf-units item="item"></lf-units>
    </div>

    <!-- extra question -->
    <div ng-if="needExtra(item)" class="lf-de-unit">
      <input class="lf-extra-field" ng-model="item.valueOther" placeholder="Please specify"
             ng-disabled="item._readOnly" type="text" ng-focus="setActiveRow(item)">
    </div>
  </div>


</div>

