<div class="lf-layout-horizontal" ng-if="lfData._horizontalTableInfo[item._horizontalTableId]">
  <table class="t-treeline-field">
    <tr>
      <td ng-repeat="lastStatus in item._lastSiblingList track by $index" ng-if="lfData.template ==='table'"
          class="t-treeline "
          ng-class="getTreeLevelClass($index, item._lastSiblingList)" > &nbsp; </td>
      <td>
        <div class="lf-form-table-title name-label">
          {{item.question}}
        </div>

        <table class="lf-form-table lf-form-horizontal-table">
          <colgroup>
            <col class="button-col" ng-if="item._questionRepeatable">
            <col ng-repeat="col in lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders"
                 ng-style="{{getTableColumnStyle(col)}}">
          </colgroup>
          <thead>
          <tr>
            <th class="lf-form-table-header" ng-if="item._questionRepeatable"></th>
            <th ng-repeat="col in lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders"
                class="lf-form-table-header"
                id="{{col.id}}">{{col.label}}</th>
          </tr>
          </thead>
          <tbody id="" class="">
          <tr ng-repeat="row in lfData._horizontalTableInfo[item._horizontalTableId].tableRows track by $index"
              class="data-row has-ng-animate">
            <td class="button-col" ng-if="item._questionRepeatable">
              <button ng-if="!hasOneRepeatingItem(item)" type="button"
                      id="del-{{row.header._elementId}}"
                      class="float-button" ng-click="removeOneRepeatingItem(row.header)"
                      title="Remove this row of '{{ row.header.question }}'">-</button>
            </td>

            <td ng-repeat="cell in row.cells"
                class="hasTooltip"
                ng-switch on="cell.dataType">
              <ng-form name="innerForm2">
                <div class="lf-form-item-data tooltipContainer">
                  <div class="tooltipContent" lf-validate="cell" ng-model="cell.value" ng-if="cell._hasValidation"></div>
                  <span ng-switch-when="" > </span>
                  <input ng-switch-when="CNE" name="{{cell.question + '_' + $id}}" type="text"
                         ng-model="cell.value"
                         autocomplete-lhc="cell._autocompOptions"
                         ng-readonly="cell._readOnly" placeholder="{{cell._toolTip}}"
                         id="{{cell._elementId}}"
                         aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}">
                  <input ng-switch-when="CWE" name="{{cell.question + '_' + $id}}" type="text"
                         ng-model="cell.value"
                         autocomplete-lhc="cell._autocompOptions"
                         ng-readonly="cell._readOnly" placeholder="{{cell._toolTip}}"
                         id="{{cell._elementId}}"
                         aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}">
                  <input ng-switch-when="REAL" name="{{cell.question}}" type="text"
                         ng-model="cell.value"
                         placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                         id="{{cell._elementId}}"
                         aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}">
                  <input ng-switch-when="INT" name="{{cell.question}}" type="text"
                         ng-model="cell.value"
                         placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                         id="{{cell._elementId}}"
                         aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}">
                  <input ng-switch-when="DT" name="{{cell.question}}" type="text"
                         ng-model="cell.value"
                         lf-date="dateOptions" placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                         id="{{cell._elementId}}"
                         aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}">
                  <textarea ng-switch-when="TX" name="{{cell.question}}"
                            ng-model="cell.value" placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                            id="{{cell._elementId}}"
                            aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                            ng-keyup="autoExpand($event)" rows="1"></textarea>
                  <input ng-switch-default name="{{cell.question}}" type="text"
                         ng-model="cell.value" placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                         id="{{cell._elementId}}"
                         aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}">
                </div>
              </ng-form>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
  <!--a button at the end of each repeating section-->
  <div ng-if="item._questionRepeatable && targetShown(item)"
       class="button-row {{getRowClass(item)}} {{getSkipLogicClass(item)}}">
    <div class="has-popover-warning">
      <button type="button"
              class="float-button" id="add-{{item._elementId}}"
              title="Add another '{{ item.question }}'"
              ng-click="addOneRepeatingItem(item, true)"
              ng-blur="hideUnusedItemWarning(item)"
              uib-popover='Please enter info in the blank "{{ item.question }}".'
              popover-placement="top-left" popover-title="Warning"
              popover-trigger="none"
              popover-is-open="item._showUnusedItemWarning">
        Add another '{{item.question}}'
      </button>
    </div>
  </div>
</div>
