<div class="lf-layout-matrix lf-table-item {{getSiblingStatus(item)}}">
  <div ng-attr-role="{{item.header ? 'heading' : undefined}}"
       ng-attr-aria-level="{{item.header ? item._displayLevel+1 : undefined}}"
       class="lf-form-matrix-table-title lf-de-label">
    <span class="lf-question"><label id="label-{{ item._elementId }}">{{item.question}}</label></span>
    <span class="lf-item-code" ng-show="lfData.templateOptions.showQuestionCode">
      <a ng-if="item._linkToDef" href="{{ item._linkToDef }}" target="_blank">[{{ item.questionCode }}]</a>
      <span ng-if="!item._linkToDef">[{{ item.questionCode }}]</span>
    </span>
    <span ng-switch on="getCodingInstructionsDisplayType(item)" ng-if="item.codingInstructions">
      <span ng-switch-when="inline-html" class="lf-prompt" ng-bind-html="getTrustedCodingInstructions(item)"
       id="help-{{ item._elementId }}"></span>
      <span ng-switch-when="inline-escaped" class="lf-prompt" ng-bind="item.codingInstructions"
       id="help-{{ item._elementId }}"></span>
      <button ng-switch-when="popover-html" class="lf-help-button btn-sm" uib-popover-template="'popover.html'"
              popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
              type="button" id="helpButton-{{item._elementId}}" aria-label="Help"
              aria-describedby="label-{{ item._elementId }}">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </button>
      <button ng-switch-when="popover-escaped" class="lf-help-button btn-sm" uib-popover="{{item.codingInstructions}}"
              popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
              type="button" id="helpButton-{{item._elementId}}" aria-label="Help"
              aria-describedby="label-{{ item._elementId }}">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </button>
    </span>
    <button ng-if="item.copyrightNotice" id="copyright-{{item._elementId}}" type="button"
            class="lf-copyright-button btn-sm" uib-popover="{{item.copyrightNotice}}"
            popover-trigger="focus" popover-placement="right" popover-title="Copyright"
            aria-label="Copyright notice" aria-describedby="label-{{ item._elementId }}">
      <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
    </button>
    <button ng-if="isItemOptionPanelButtonShown(item)" type="button" class="lf-control-button btn-sm"
            ng-click="hideShowItemOptionPanel(item)" aria-label="Item controls"
            aria-describedby="label-{{item._elementId}}">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
    <!-- TBD -->
    <lf-item-options></lf-item-options>
  </div>
  <table class="lf-form-matrix-table lf-form-table">
      <colgroup>
        <col class="lf-question">
        <col ng-repeat="answer in item.items[0].answers">
        <col class="other-answer" ng-if="item.items[0].dataType ==='CWE'">
      </colgroup>
      <thead>
      <tr class="lf-">
        <th class="lf-question lf-form-table-header"></th>
        <th ng-repeat="answer in item.items[0].answers"
            class="lf-form-matrix-cell lf-form-table-header"
            id="answer-{{$index}}">{{answer.text}}</th>
        <th class="lf-form-matrix-cell-other lf-form-table-header" ng-if="item.items[0].dataType ==='CWE'"
         id="otherAnswer">Other</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="subItem in item.items" role="radiogroup"
         aria-labeledby="label-{{subItem._elementId }}"
         aria-describedby="help-{{ subItem._parentItem._elementId }} help-{{ subItem._elementId }}">
        <td class="lf-question">
          <div class="lf-de-label">
            <span class="lf-question"><label id="label-{{ subItem._elementId }}"
             for="{{subItem._elementId}}">{{subItem.question}}</label></span>
            <span class="lf-item-code" ng-show="lfData.templateOptions.showQuestionCode">
              <a ng-if="subItem._linkToDef" href="{{ subItem._linkToDef }}" target="_blank">[{{ subItem.questionCode }}]</a>
              <span ng-if="!subItem._linkToDef">[{{ subItem.questionCode }}]</span>
            </span>
            <span ng-switch on="getCodingInstructionsDisplayType(subItem)" ng-if="subItem.codingInstructions">
              <span ng-switch-when="inline-html" id="help-{{subItem._elementId}}"
               class="lf-prompt" ng-bind-html="getTrustedCodingInstructions(subItem)"></span>
              <span ng-switch-when="inline-escaped" id="help-{{subItem._elementId}}"
               class="lf-prompt" ng-bind="subItem.codingInstructions"></span>
              <button ng-switch-when="popover-html" class="lf-help-button btn-sm" uib-popover-template="'popover.html'"
                      popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                      type="button" id="helpButton-{{subItem._elementId}}"
                      aria-label="Help" aria-describedby="label-{{ subItem._elementId }}">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              </button>
              <button ng-switch-when="popover-escaped" class="lf-help-button btn-sm" uib-popover="{{subItem.codingInstructions}}"
                      popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                      type="button" id="helpButton-{{subItem._elementId}}" aria-label="Help"
                      aria-describedby="label-{{ subItem._elementId }}">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              </button>
            </span>
            <button ng-if="subItem.copyrightNotice" id="copyright-{{subItem._elementId}}" type="button"
                    class="lf-copyright-button btn-sm" uib-popover="{{subItem.copyrightNotice}}"
                    popover-trigger="focus" popover-placement="right" popover-title="Copyright"
                    aria-label="Copyright notice"
                    aria-describedby="label-{{ subItem._elementId }}">
              <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
            </button>
          </div>
        </td>
        <td ng-repeat="answer in item.items[0].answers"
         class="lf-form-matrix-cell">
          <span class="lf-form-matrix-answer">
            <label ng-if="subItem._multipleAnswers">
              <input type="checkbox" id="{{subItem._elementId + answer.code}}"
               ng-click="updateCheckboxList(subItem, answer)" aria-labeledby="answer-{{$index}}">
            </label>
            <label ng-if="!subItem._multipleAnswers">
              <input type="radio" id="{{subItem._elementId + answer.code}}"
               aria-labeledby="answer-{{$index}}" ng-model="subItem.value" ng-value="answer"
                     name="{{subItem._elementId}}" ng-click="updateRadioList(subItem)">
            </label>
          </span>
        </td>
        <td class="lf-form-matrix-cell-other" ng-if="subItem.dataType ==='CWE'"
         aria-labeledby=otherAnswer>
          <!--for multiple answers-->
          <span ng-if="subItem._multipleAnswers" class="lf-form-matrix-answer">
            <label>
              <input type="checkbox" ng-model="subItem._otherValueChecked"
                     id="{{subItem._elementId + '_other'}}"
                     ng-click="updateCheckboxListForOther(subItem, {'code':subItem.valueOther,'text':subItem.valueOther})">
            </label>
            <label>
              <input type="text" ng-model="subItem.valueOther"
                     id="{{subItem._elementId + '_otherValue'}}"
                     ng-change="updateCheckboxListForOther(subItem, {'code':subItem.valueOther,'text':subItem.valueOther})">
            </label>
          </span>
          <!--for single answer-->
          <span ng-if="!subItem._multipleAnswers" class="lf-form-matrix-answer">
            <label>
              <input type="radio" id="{{subItem._elementId + '_other'}}" ng-model="subItem._otherValueChecked"
                     ng-value="true" name="{{subItem._elementId}}"
                     ng-click="updateRadioListForOther(subItem, {'code':subItem.valueOther,'text':subItem.valueOther})">
            </label>
            <label>
              <input type="text" id="{{subItem._elementId + '_otherValue'}}" ng-model="subItem.valueOther"
                     ng-change="updateRadioListForOther(subItem, {'code':subItem.valueOther,'text':subItem.valueOther})">
            </label>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  <lf-repeating-button></lf-repeating-button>
</div>

