<div class="lf-layout-horizontal lf-table-item col-xs-12 lf-no-padding" ng-if="lfData._horizontalTableInfo[item._horizontalTableId]">
  <div class="lf-form-table-title lf-de-label">
    {{item.question}}
  </div>

  <table class="lf-form-table lf-form-horizontal-table">
    <colgroup>
      <col class="lf-de-button" ng-if="item._questionRepeatable && lfData._horizontalTableInfo[item._horizontalTableId].tableRows.length>1">
      <col ng-repeat="col in lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders"
           ng-style="{{getTableColumnStyle(col)}}">
    </colgroup>
    <thead>
    <tr>
      <th class="lf-form-table-header" ng-if="item._questionRepeatable && lfData._horizontalTableInfo[item._horizontalTableId].tableRows.length>1"></th>
      <th ng-repeat="col in lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders"
          class="lf-form-table-header"
          id="{{col.id}}">{{col.label}}</th>
    </tr>
    </thead>
    <tbody id="" class="">
    <tr ng-repeat="row in lfData._horizontalTableInfo[item._horizontalTableId].tableRows track by $index"
        class="data-row has-ng-animate">
      <td class="lf-de-button" ng-if="item._questionRepeatable && lfData._horizontalTableInfo[item._horizontalTableId].tableRows.length>1">
        <button ng-if="!hasOneRepeatingItem(item)" type="button"
                id="del-{{row.header._elementId}}"
                class="float-button" ng-click="removeOneRepeatingItem(row.header)"
                title="Remove this row of '{{ row.header.question }}'">-</button>
      </td>

      <td ng-repeat="cell in row.cells"
          class="hasTooltip"
          ng-switch on="cell.dataType">
        <ng-form name="innerForm2">
          <div class="lf-form-item-data tooltipContainer">
            <div class="tooltipContent" lf-validate="cell" ng-model="cell.value" ng-if="cell._hasValidation"></div>
            <span ng-switch-when="" > </span>
            <input ng-switch-when="CNE" name="{{cell.question + '_' + $id}}" type="text"
                   ng-model="cell.value"
                   autocomplete-lhc="cell._autocompOptions"
                   ng-readonly="cell._readOnly" placeholder="{{cell._toolTip}}"
                   id="{{cell._elementId}}"
                   aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                   ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)">
            <input ng-switch-when="CWE" name="{{cell.question + '_' + $id}}" type="text"
                   ng-model="cell.value"
                   autocomplete-lhc="cell._autocompOptions"
                   ng-readonly="cell._readOnly" placeholder="{{cell._toolTip}}"
                   id="{{cell._elementId}}"
                   aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                   ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)">
            <input ng-switch-when="REAL" name="{{cell.question}}" type="text"
                   ng-model="cell.value"
                   placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                   id="{{cell._elementId}}"
                   aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                   ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)">
            <input ng-switch-when="INT" name="{{cell.question}}" type="text"
                   ng-model="cell.value"
                   placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                   id="{{cell._elementId}}"
                   aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                   ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)">
            <input ng-switch-when="DT" name="{{cell.question}}" type="text"
                   ng-model="cell.value"
                   lf-date="dateOptions" placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                   id="{{cell._elementId}}"
                   aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                   ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)">
            <textarea ng-switch-when="TX" name="{{cell.question}}"
                      ng-model="cell.value" placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                      id="{{cell._elementId}}"
                      aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                      ng-keyup="autoExpand($event)" rows="1"
                      ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)"></textarea>
            <input ng-switch-default name="{{cell.question}}" type="text"
                   ng-model="cell.value" placeholder="{{cell._toolTip}}" ng-readonly="cell._readOnly"
                   id="{{cell._elementId}}"
                   aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                   ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)">
          </div>
        </ng-form>
      </td>
    </tr>
    </tbody>
  </table>

  <lf-repeating-button></lf-repeating-button>
</div>

