<div class="lf-layout-horizontal lf-table-item {{getSiblingStatus(item)}} " ng-if="item._horizontalTableHeader && lfData._horizontalTableInfo[item._horizontalTableId]">
  <div ng-attr-role="{{item.header ? 'heading' : undefined}}"
       ng-attr-aria-level="{{item.header ? item._displayLevel+1 : undefined}}"
       class="lf-form-horizontal-table-title lf-de-label">
    <span class="lf-question"><label id="label-{{ item._elementId }}">{{item.question}}</label></span>
    <span class="lf-item-code" ng-show="lfData.templateOptions.showQuestionCode">
        <a ng-if="item._linkToDef" href="{{ item._linkToDef }}" target="_blank">[{{ item.questionCode }}]</a>
        <span ng-if="!item._linkToDef">[{{ item.questionCode }}]</span>
      </span>
    <span ng-switch on="getCodingInstructionsDisplayType(item)" ng-if="item.codingInstructions">
        <span ng-switch-when="inline-html" class="lf-prompt" ng-bind-html="getTrustedCodingInstructions(item)"></span>
        <span ng-switch-when="inline-escaped" class="lf-prompt" ng-bind="item.codingInstructions"></span>
        <button ng-switch-when="popover-html" class="lf-help-button btn-sm" uib-popover-template="'popover.html'"
                popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                type="button" id="help-{{item._elementId}}" aria-label="Help"
                aria-describedby="label-{{ item._elementId }}">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        </button>
        <button ng-switch-when="popover-escaped" class="lf-help-button btn-sm" uib-popover="{{item.codingInstructions}}"
                popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                type="button" id="help-{{item._elementId}}" aria-label="Help"
                aria-describedby="label-{{ item._elementId }}">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        </button>
      </span>
    <button ng-if="item.copyrightNotice" id="copyright-{{item._elementId}}" type="button"
            class="lf-copyright-button btn-sm" uib-popover="{{item.copyrightNotice}}"
            popover-trigger="focus" popover-placement="right" popover-title="Copyright"
            aria-label="Copyright notice" aria-describedby="label-{{ item._elementId }}">
      <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
    </button>
    <button ng-if="isItemOptionPanelButtonShown(item)" type="button" class="lf-control-button btn-sm"
            ng-click="hideShowItemOptionPanel(item)" aria-label="Item controls"
            aria-describedby="label-{{ item._elementId }}">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
    <!-- TBD -->
    <lf-item-options></lf-item-options>
  </div>

  <table class="lf-form-horizontal-table">
    <colgroup>
      <col class="lf-de-button" ng-if="item._questionRepeatable && lfData._horizontalTableInfo[item._horizontalTableId].tableRows.length>1">
      <col ng-repeat="col in lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders"
           ng-style="getTableColumnStyle(col)">
    </colgroup>
    <thead>
    <tr>
      <th class="lf-form-horizontal-table-header" ng-if="item._questionRepeatable && lfData._horizontalTableInfo[item._horizontalTableId].tableRows.length>1"></th>
      <th ng-repeat="col in lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders"
          class="lf-form-horizontal-table-header"
          id="{{col.id}}">{{col.label}}</th>
    </tr>
    </thead>
    <tbody id="" class="">
    <tr ng-repeat="row in lfData._horizontalTableInfo[item._horizontalTableId].tableRows track by $index"
        class="data-row has-ng-animate">
      <td class="lf-de-button" ng-if="item._questionRepeatable && lfData._horizontalTableInfo[item._horizontalTableId].tableRows.length>1">
        <button ng-if="!hasOneRepeatingItem(item)" type="button"
                id="del-{{row.header._elementId}}"
                class="lf-float-button" ng-click="removeOneRepeatingItem(row.header)"
                title='Remove this row of "{{ row.header.question }}"'>-</button>
      </td>

      <td ng-repeat="cell in row.cells"
          class="hasTooltip {{getRowClass(cell)}} {{getSkipLogicClass(cell)}} {{getActiveRowClass(cell)}}"
          ng-switch on="cell.dataType">
        <ng-form name="innerForm2">
          <div class="lf-form-item-data tooltipContainer">
            <div class="tooltipContent" lf-validate="cell" ng-model="cell.value" ng-if="cell._hasValidation"></div>
            <span ng-switch-when="" > </span>
            <input ng-switch-when="CNE" name="{{cell.question + '_' + $id}}" type="text"
                   ng-model="cell.value"
                   autocomplete-lhc="cell._autocompOptions"
                   ng-disabled="cell._readOnly" placeholder="{{cell._toolTip}}"
                   id="{{cell._elementId}}"
                   aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                   ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)">
            <input ng-switch-when="CWE" name="{{cell.question + '_' + $id}}" type="text"
                   ng-model="cell.value"
                   autocomplete-lhc="cell._autocompOptions"
                   ng-disabled="cell._readOnly" placeholder="{{cell._toolTip}}"
                   id="{{cell._elementId}}"
                   aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                   ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)">
            <input ng-switch-when="REAL" name="{{cell.question}}" type="text"
                   ng-model="cell.value"
                   placeholder="{{cell._toolTip}}" ng-disabled="cell._readOnly"
                   id="{{cell._elementId}}"
                   aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                   ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)">
            <input ng-switch-when="INT" name="{{cell.question}}" type="text"
                   ng-model="cell.value"
                   placeholder="{{cell._toolTip}}" ng-disabled="cell._readOnly"
                   id="{{cell._elementId}}"
                   aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                   ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)">
            <input ng-switch-when="DT" name="{{cell.question}}" type="text"
                   ng-model="cell.value"
                   lf-date="dateOptions" placeholder="{{cell._toolTip}}" ng-disabled="cell._readOnly"
                   id="{{cell._elementId}}"
                   aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                   ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)">
            <textarea ng-switch-when="TX" name="{{cell.question}}"
                      ng-model="cell.value" placeholder="{{cell._toolTip}}" ng-disabled="cell._readOnly"
                      id="{{cell._elementId}}"
                      aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                      ng-keyup="autoExpand($event)" rows="1"
                      ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)"></textarea>
            <input ng-switch-default name="{{cell.question}}" type="text"
                   ng-model="cell.value" placeholder="{{cell._toolTip}}" ng-disabled="cell._readOnly"
                   id="{{cell._elementId}}"
                   aria-labelledby="{{lfData._horizontalTableInfo[item._horizontalTableId].columnHeaders[$index].id}}"
                   ng-focus="setActiveRow(cell)" ng-blur="activeRowOnBlur(cell)">
          </div>
        </ng-form>
      </td>
    </tr>
    </tbody>
  </table>

  <div ng-if="item._questionRepeatable && targetShown(item) "
       class="lf-form-table-row button-row {{getSkipLogicClass(item)}}">
    <div class="has-popover-warning">
      <button type="button"
              class="lf-float-button" id="add-{{item._elementId}}"
              ng-click="addOneRepeatingItem(item, true)"
              ng-blur="hideUnusedItemWarning(item)"
              uib-popover='Please enter info in the blank "{{ item.question }}".'
              popover-placement="top-left"
              popover-trigger="none"
              popover-is-open="item._showUnusedItemWarning">
        + Add another "{{item.question}}"
      </button>
    </div>
  </div>
</div>

