<div ng-controller="PanelTableCtrl">
  <form name="panel" novalidate>
    <div class="panelGroup fieldGroup" ng-if="lfData" >
      <div class="stopped" ng-show="isFormDone()"><img src="/images/blank.gif" class="stop-sign"><span>This form is complete.</span></div>
      <div class="row">
        <div class="col-md-3 col-xs-3">
          <div class="checkbox">
            <label><input type="checkbox" value="" ng-model="formConfig.showQuestionCode">Display Question Code</label>
          </div>
        </div>
        <div class="col-md-3 col-xs-3">
          <div class="checkbox">
            <label><input type="checkbox" value="" ng-model="formConfig.showCodingInstruction">Show Help/Description</label>
          </div>
        </div>
        <div class="col-md-3 col-xs-3">
          <div class="checkbox">
            <label><input type="checkbox" value="" ng-model="formConfig.useSpecialKeyNavi">Keyboard Navigation on Data Fields Only</label>
          </div>
        </div>
        <div class="col-md-3 col-xs-3 ">
          <div style="margin: 10px">Total # of Questions: {{lfData.items.length}}</div>
        </div>
      </div>
      <h3 class="groupHeader">
        <span>{{::lfData.name}}</span>
        <span ng-if="formConfig.showQuestionCode"><a tabindex="{{ formConfig.useSpecialKeyNavi ? '-1' : '' }}" href="http://s.details.loinc.org/LOINC/{{ lfData.code }}.html" target="_blank">[{{ lfData.code }}]</a></span>
      </h3>
      <div class="fieldExpColDiv">
        <table cellspacing="0" cellpadding="0" class="fieldsTable">
          <colgroup>
            <col ng-repeat="item in ::lfData.templateOption.obrItems" style="width: {{::item.formatting.width}}; min-width: {{::item.formatting['min-width']}}">
          </colgroup>
          <thead>
          <tr>
            <th class="fieldsTableHeader" ng-repeat="item in ::lfData.templateOption.obrItems">{{::item.question}}</th>
          </tr>
          </thead>
          <tbody>
          <tr class="repeatingLine">
            <td class="rowEditText hasTooltip" ng-repeat="item in lfData.templateOption.obrItems" ng-switch on="item.dataType">
              <ng-form name="innerForm">
                  <div class="cellData tooltipContainer">
                    <span class="tooltipContent" ng-include="'views/partials/validation.html'"></span>  <!-- validation error messages -->
                    <input ng-switch-when="CWE" name="{{::item.question}}" ng-required="::isAnswerRequired(item)" placeholder="Select or type a value" ng-model-options="{ updateOn: 'default' }" ng-model="item._value" phr-autocomplete="::lfComboOpt(item)" ng-readonly="::isReadOnly(item)">
                    <input ng-switch-when="DT" name="{{::item.question}}"  ng-required="::isAnswerRequired(item)" ng-model-options="{ updateOn: 'default' }" ng-model="item._value" lf-date="::dateOptions" placeholder="MM/DD/YYYY" ng-readonly="::isReadOnly(item)">
                    <input ng-switch-default name="{{::item.question}}" ng-required="::isAnswerRequired(item)" ng-model-options="{ updateOn: 'default' }" ng-model="item._value" placeholder="Type a value" ng-readonly="::isReadOnly(item)">
                  </div>
              </ng-form>
            </td>
          </tr>
          <tr class="embeddedRow">
            <td colspan="5">
              <div>
                <table cellspacing="0" cellpadding="0" class="fieldsTable">
                  <colgroup>
                    <col ng-repeat="obxCol in ::lfData.templateOption.obxTableColumns" style="width: {{::obxCol.formatting.width}}; min-width: {{::obxCol.formatting['min-width']}}">
                  </colgroup>
                  <thead>
                  <tr>
                    <th class="fieldsTableHeader" ng-repeat="obxCol in ::lfData.templateOption.obxTableColumns">{{::obxCol.name}}</th>
                  </tr>
                  </thead>
                  <tbody id="obx_table" class="fieldExpColDiv">
                  <tr style="width: 99%" class="repeatingLine {{ getSkipLogicTargetClass(item) }} {{getRowClass(item)}} {{getActiveRowClass($index)}}" ng-repeat-start="item in lfData.items track by $id(item)" ng-click="setActiveRow($index)">
                    <td class="name has_treeline">
                      <div class="t-treeline-field">
                        <div class="t-treeline-wrapper" ng-include="'views/partials/tree.html'">  <!-- tree lines -->
                        </div>
                        <div class="name_label">
                          <span ng-show="::isRepeatable(item)" class="sn">{{::getRepeatingSN(item) }}</span>
                          <span>{{::item.question}} </span>
                          <span ng-show="formConfig.showQuestionCode"><a tabindex="{{ formConfig.useSpecialKeyNavi ? '-1' : '' }}" href="http://s.details.loinc.org/LOINC/{{ item.questionCode }}.html" target="_blank">[{{ item.questionCode }}]</a></span>
                          <span ng-show="formConfig.showCodingInstruction" class="prompt">{{ ::getCodingInstructions(item) }}</span>
                          <button ng-show="!formConfig.showCodingInstruction" ng-if="::hasCodingInstructions(item)" tabindex="{{ formConfig.useSpecialKeyNavi ? '-1' : '' }}" class="help-button" bs-popover="::item.codingInstructions" data-auto-close="true" data-placement="right"  title="Instruction">?</button>
                          </button>
                        </div>
                      </div>
                    </td>
                    <td class="button-col">
                      <button ng-show="::isRepeatable(item)" tabindex="{{ formConfig.useSpecialKeyNavi ? '-1' : '' }}" ng-if="::!hasOneRepeatingItem(item)" class="float-button"  ng-click="::removeOneRepeatingItem(item)" title="Remove this'{{ ::item.question }}'">-</button>
                    </td>
                    <td ng-switch on="::getFieldType(item)" class="hasTooltip">
                      <ng-form name="innerForm2">
                        <div class="cellData tooltipContainer">
                          <span class="tooltipContent" ng-include="'views/partials/validation.html'"></span>  <!-- validation error messages -->
                          <span ng-switch-when="" > </span>
                          <div ng-switch-when="CNE-1" name="{{::item.question}}" ng-required="::isAnswerRequired(item)" ng-model-options="{ updateOn: 'default' }" ng-model="item._value" ui-select2="::select2Opt(item)" ng-readonly="::isReadOnly(item)"></div>
                          <input ng-switch-when="REAL1" name="{{::item.question}}" type="number" ng-required="::isAnswerRequired(item)" ng-model-options="{ updateOn: 'default' }" ng-model="item._value" placeholder="Type a value" ng-readonly="::isReadOnly(item )"></input>
                          <input ng-switch-when="CNE1" name="{{::item.question}}" ng-required="::isAnswerRequired(item)" placeholder="Select one" ng-model-options="{ updateOn: 'default' }" ng-model="item._value" phr-autocomplete="::lfListOpt(item )" ng-readonly="::isReadOnly(item)"></input>
                          <input ng-switch-when="DT1" name="{{::item.question}}" ng-required="::isAnswerRequired(item)" ng-model-options="{ updateOn: 'default' }" ng-model="item._value" lf-date="::dateOptions" placeholder="MM/DD/YYYY" ng-readonly="::isReadOnly(item)"></input>
                          <input ng-switch-default name="{{::item.question}}" ng-required="::isAnswerRequired(item)" ng-model-options="{ updateOn: 'default' }" ng-model="item._value" placeholder="Type a value" ng-readonly="::isReadOnly(item)"></input>
                        </div>
                      </ng-form>
                    </td>
                    <td ng-switch on="::checkUnits(item)">
                      <input class="units" ng-switch-when="list" ng-model-options="{ updateOn: 'default' }" ng-model="item._unit" phr-autocomplete="lfUnitsListOpt(item )" ></input>
                      <span ng-switch-when="none" > </span>
                    </td>
                    <!--<td>{{item.range}}</td>-->
                  </tr>
                  <!-- extra question -->
                  <tr ng-if="needExtra(item)" style="width: 99%" class="extra-row repeatingLine {{ getSkipLogicTargetClass(item) }} {{getRowClass(item)}}">
                    <td class="name has_treeline">
                      <div class="t-treeline-field">
                        <div class="t-treeline-wrapper" ng-include="'views/partials/tree-extra.html'">  <!-- tree lines -->
                        </div>
                        <div class="name_label">
                          <span>&nbsp;</span>
                        </div>
                      </div>
                    </td>
                    <td class="button-col"></td>
                    <td colspan="5" class="extra-field">
                      <input ng-model="item._valueOther" placeholder="Please specify" ng-readonly="::isReadOnly(item)"></input>
                    </td>
                  </tr>
                  <!--a button row at the end of each repeating section-->
                  <tr ng-repeat-end ng-if="isLastItemInRepeatingItems($index)" class="buttonRow repeatingLine {{ getSkipLogicTargetClass(item) }} {{getRowClass(item)}}" >
                    <td colspan="6" class="name has_treeline" >
                      <div class="t-treeline-field">
                        <div class="t-treeline-wrapper" ng-include="'views/partials/tree-extra.html'">  <!-- tree lines -->
                        </div>
                        <div class="name_label">
                          <button tabindex="{{ formConfig.useSpecialKeyNavi ? '-1' : '' }}" ng-repeat="repeatingItem in getParentRepeatingItemsOfLastItem($index)" class="float-button"  id="{{::repeatingItem._codePath+repeatingItem._idPath}}" ng-click="::addOneRepeatingItem(repeatingItem)" title="Add another '{{ ::repeatingItem.question }}'">Add another '{{::repeatingItem.question}}'</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <!--<button ng-click="onclick()">Click to debug Panel Controller</button>-->
</div>
