<div ng-controller="PanelSearchCtrl">
  <tabset>
    <tab heading="LOINC Panels">
      <div class="panel">
        <div class="panel-heading">A list of modified LOINC panels.</div>
        <div class="panel-body">
          <input id="loinc_num1" ng-model="selectedPanel[0]" ui-select2="panelListOpt()">
          <br><br>
          <button type="button" class="btn btn-primary" ng-click="addMoreWidget(0)"><span>Show Panel</span></button>
        </div>
      </div>
    </tab>
  </tabset>
</div>


