<!--a button at the end of each repeating section-->
<div ng-if="item._lastRepeatingItem && targetShown(item) "
     class="lf-form-table-row button-row {{getSkipLogicClass(item)}}">
  <div class="has-popover-warning">
    <button type="button"
            class="lf-float-button" id="add-{{item._elementId}}"
            ng-click="addOneRepeatingItem(item)"
            ng-blur="hideUnusedItemWarning(item)"
            uib-popover='{{item._unusedItemWarning}}'
            popover-placement="top-left"
            popover-trigger="none"
            popover-is-open="item._showUnusedItemWarning">
      + Add another "{{item.question}}"
    </button>
  </div>
</div>
