<form ng-if="lfData" class="lf-form lf-template-table {{getIndentationStyle()}}" novalidate autocomplete="false"
      ng-keydown="handleNavigationKeyEventByTab($event)">
    <!--form controls-->
    <lf-form-controls></lf-form-controls>
    <!--form title-->
    <lf-form-title></lf-form-title>
    <!-- form options -->
    <lf-form-options></lf-form-options>
    <!--form header-->
    <lf-form-header></lf-form-header>
    <!--form body-->
    <div class="lf-form-body">
      <!--check form level questionLayout for matrix and horizontal layouts-->
      <div ng-switch on="lfData.templateOptions.displayControl.questionLayout">
        <!--horizontal-->
        <div ng-switch-when="horizontal" class="lf-top-section">
          <lf-section-horizontal></lf-section-horizontal>
        </div>
        <!--matrix-->
        <div ng-switch-when="matrix" class="lf-top-section">
          <lf-section-matrix></lf-section-matrix>
        </div>
        <!--vertical-->
        <div ng-switch-default>
          <!-- data row, column header -->
          <div class="lf-column-header" ng-if="lfData.templateOptions.showColumnHeaders">
            <div class="lf-column-label-button" id="th_Name">
              {{lfData.templateOptions.columnHeaders[0].name}}
            </div>
            <div class="lf-column-input-unit" ng-style="getFieldWidth(item)">
              <div class="lf-column-input" id="th_Value">
                {{lfData.templateOptions.columnHeaders[1].name}}
              </div>
              <div ng-if="!lfData.templateOptions.hideUnits" class="lf-column-unit" id="th_Units">
                {{lfData.templateOptions.columnHeaders[2].name}}
              </div>
            </div>
          </div>
          <!-- data row, for each item -->
          <!-- check each top level item's questionLayout -->
          <div ng-if="lfData.items" class="lf-form-table">
            <div ng-repeat="item in lfData.items" ng-if="targetShown(item) && !item._isHiddenFromView"
                 class="data-row has-ng-animate {{getRowClass(item)}} {{getSkipLogicClass(item)}}
                 {{getActiveRowClass(item)}} {{getItemViewModeClass(item)}}">
              <!--header item-->
              <div ng-if="item.header" ng-switch on="item.displayControl.questionLayout">
                <div ng-switch-when="horizontal">
                  <lf-section-horizontal></lf-section-horizontal>
                </div>
                <div ng-switch-when="matrix">
                  <lf-section-matrix></lf-section-matrix>
                </div>
                <div ng-switch-when="vertical">
                  <lf-table-item></lf-table-item>
                </div>
                <div ng-switch-default>
                  <lf-table-item></lf-table-item>
                </div>
              </div>
              <!--non-header data item-->
              <div ng-if="!item.header">
                <lf-table-item></lf-table-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
