<form class="lf-form template-list" novalidate autocomplete="false">
  <div class="lf-form-view" ng-if="lfData">
    <div class="lf-form-header" ng-include="'form-header.html'"></div>

    <h3 class="lf-form-title">
      <span>{{lfData.name}}</span>
      <span class="item-code" ng-if="lfData.templateOptions.showQuestionCode">
        <a ng-if="lfData._linkToDef" href="{{ lfData._linkToDef }}" target="_blank">[{{ lfData.code }}]</a>
        <span ng-if="!lfData._linkToDef">[{{ lfData.code }}]</span>
      </span>
      <button ng-if="lfData.copyrightNotice" id="copyright-{{lfData.code}}" type="button"
              class="copyright-button" uib-popover="{{lfData.copyrightNotice}}"
              popover-trigger="focus" popover-placement="right" popover-title="Copyright">&#9400;</button>
    </h3>

    <div class="lf-form-body">
      <!-- data row -->
      <div ng-if="lfData.items" class="section">
        <div ng-repeat="item in lfData.items" ng-if="targetShown(item)"
             class="data-row has-ng-animate {{getRowClass(item)}} {{getSkipLogicClass(item)}} {{getActiveRowClass(item)}}">
          <lf-item item="item"></lf-item>
        </div>
      </div>
    </div>
  </div>
</form>



<button type="button" ng-if="debug" ng-click="onclick()">Click to debug Panel Controller</button>
