<!--It uses the scope where this template is included by 'ng-include'-->
    <!--<div class="treeline-div">-->
<!--<div class="tree_wrapper tree_l5 {{ getTreeLevelClass(5, $index) }}">-->
  <!--<div class="tree_line">&nbsp;</div>-->
<!--</div>-->
<!--<div class="tree_wrapper tree_l4 {{ getTreeLevelClass(4, $index) }}">-->
  <!--<div class="tree_line">&nbsp;</div>-->
<!--</div>-->
<!--<div class="tree_wrapper tree_l3 {{ getTreeLevelClass(3, $index) }}">-->
  <!--<div class="tree_line">&nbsp;</div>-->
<!--</div>-->
<!--<div class="tree_wrapper tree_l2 {{ getTreeLevelClass(2, $index) }}">-->
  <!--<div class="tree_line">&nbsp;</div>-->
<!--</div>-->
<!--<div class="tree_wrapper tree_l1 {{ getTreeLevelClass(1, $index) }}">-->
  <!--<div class="tree_line">&nbsp;</div>-->
<!--</div>-->
<!--<div class="tree_wrapper {{ getTreeLevelClass(0, $index) }}">-->
  <!--<div class="tree_line">&nbsp;</div>-->
<!--</div>-->
    <!--</div>-->

  <div class="t-treeline t-level-5 {{ getTreeLevelClass(5, $index) }}"> &nbsp; </div>
  <div class="t-treeline t-level-4 {{ getTreeLevelClass(4, $index) }}"> &nbsp; </div>
  <div class="t-treeline t-level-3 {{ getTreeLevelClass(3, $index) }}"> &nbsp; </div>
  <div class="t-treeline t-level-2 {{ getTreeLevelClass(2, $index) }}"> &nbsp; </div>
  <div class="t-treeline t-level-1 {{ getTreeLevelClass(1, $index) }}"> &nbsp; </div>
  <div class="t-treeline t-level-0 {{ getTreeLevelClass(0, $index) }}"> &nbsp; </div>
