<div class="t-treeline t-level-5 {{ getTreeLevelClass(5, $index) }}"> &nbsp; </div>
<div class="t-treeline t-level-4 {{ getTreeLevelClass(4, $index) }}"> &nbsp; </div>
<div class="t-treeline t-level-3 {{ getTreeLevelClass(3, $index) }}"> &nbsp; </div>
<div class="t-treeline t-level-2 {{ getTreeLevelClass(2, $index) }}"> &nbsp; </div>
<div class="t-treeline t-level-1 {{ getTreeLevelClass(1, $index) }}"> &nbsp; </div>
<div class="t-treeline t-level-0 {{ getTreeLevelClass(0, $index) }}"> &nbsp; </div>
