<td class="x-treeline x-level-5" ng-class="getHorizontalLayoutTreeLevelClass(5, $index) "> &nbsp; </td>
<td class="x-treeline x-level-4" ng-class="getHorizontalLayoutTreeLevelClass(4, $index) "> &nbsp; </td>
<td class="x-treeline x-level-3" ng-class="getHorizontalLayoutTreeLevelClass(3, $index) "> &nbsp; </td>
<td class="x-treeline x-level-2" ng-class="getHorizontalLayoutTreeLevelClass(2, $index) "> &nbsp; </td>
<td class="x-treeline x-level-1" ng-class="getHorizontalLayoutTreeLevelClass(1, $index) "> &nbsp; </td>
<td class="x-treeline x-level-0" ng-class="getHorizontalLayoutTreeLevelClass(0, $index) "> &nbsp; </td>
