<div class="t-treeline t-level-5 {{ getExtraRowTreeLevelClass(5, $index) }}"> &nbsp; </div>
<div class="t-treeline t-level-4 {{ getExtraRowTreeLevelClass(4, $index) }}"> &nbsp; </div>
<div class="t-treeline t-level-3 {{ getExtraRowTreeLevelClass(3, $index) }}"> &nbsp; </div>
<div class="t-treeline t-level-2 {{ getExtraRowTreeLevelClass(2, $index) }}"> &nbsp; </div>
<div class="t-treeline t-level-1 {{ getExtraRowTreeLevelClass(1, $index) }}"> &nbsp; </div>
<div class="t-treeline t-level-0 {{ getExtraRowTreeLevelClass(0, $index) }}"> &nbsp; </div>
