<!--<div ng-repeat="error in errors">-->
  <!--<div class="error-msg">"{{itemData.question}}" {{error}}</div>-->
<!--</div>-->

<!--<div>-->
<!--<ng-transclude></ng-transclude>-->
<!--<div-->
<!--uib-popover='Please enter info in the blank "{{ itemData.question }}".'-->
<!--popover-placement="top-left" popover-title="Warning"-->
<!--popover-trigger="none"-->
<!--popover-is-open="invalid">Error</div>-->
<!--</div>-->

<div>
  <div ng-transclude></div>
  <div>some text</div>
  <!--<div ng-repeat="error in errors">-->
    <!--<div class="error-msg">"{{itemData.question}}" {{error}}</div>-->
  <!--</div>-->
</div>