<div class="errorMsg errorRequired">"{{ ::item.question }}" requires a value.</div>
<div class="errorMsg errorPattern">"{{ ::item.question }}" requires a text pattern.</div>
<div class="errorMsg errorMax">"{{ ::item.question }}" requires a maximum value of ??.</div>
<div class="errorMsg errorMin">"{{ ::item.question }}" requires a minimum value of ??.</div>
<div class="errorMsg errorMaxlength">"{{ ::item.question }}" requires a maximum length of ??.</div>
<div class="errorMsg errorMinlength">"{{ ::item.question }}" requires a minimum length of ??.</div>
<div class="errorMsg errorURL">"{{ ::item.question }}" requires a url.</div>
<div class="errorMsg errorEmail">"{{ ::item.question }}" requires an email.</div>
<div class="errorMsg errorNumber">"{{ ::item.question }}" requires a numeric value.</div>
<div class="errorMsg errorREAL">"{{ ::item.question }}" requires a decimal value.</div>
<div class="errorMsg errorINT">"{{ ::item.question }}" requires a integer value.</div>
<div class="errorMsg errorTM">"{{ ::item.question }}" requires a time value.</div>
<div class="errorMsg errorDT">"{{ ::item.question }}" requires a date value.</div>
