input[type=file] {
  border: 1px solid gray;
  display: inline;
}

.lhc-attachment-button, .attach-button {
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-radius: 4px;
  margin-left: 0.5em;
  min-width: 22px;
  color: white;
  border: none;
  background-color: #066aa0;
  vertical-align: top;
}

.lhc-attachment-url, .lhc-attachment-name {
  width: inherit !important;
}

progress {
  vertical-align: text-bottom;
}

.download-link, .lhc-attachment-upload {
  margin-left: 0.5em;
}

.lhc-button {
  border: 0 none;
  cursor: pointer;
  overflow: visible;
  padding: 0;
  position: relative;
  background-color: #066aa0; /*#458AC5;*/
}

.lf-rm-attachment-button:hover {
  color: #0087fd;
}
