.lhc-item-error:before {
  content: "\26A0";
  color: red;
  margin-left: 3px;
  margin-right: 6px;
  font-weight: bold;
}

.lhc-item-error {
  background-color: orange;
  margin: 2px 0 2px 2px;
  border-radius: 4px;
  padding: 2px 4px 2px 4px;
}
