<ng-container *ngIf="item">
  <!-- <div class="lhc-item {{getSiblingStatus(item)}} {{getRowClass(item)}}"> -->
  <!-- <lhc-validate [item]="item"></lhc-validate> -->
    <ng-container  [ngSwitch]="item.dataType">
      <!-- 'group' -->
      <ng-container *ngSwitchCase="'SECTION'">
        <lhc-item-group [item]="item"></lhc-item-group>
      </ng-container>
      <!-- 'display' -->
      <ng-container *ngSwitchCase="'TITLE'">
        <lhc-item-display [item]="item"></lhc-item-display>
      </ng-container>
      <!-- 'question' -->
      <ng-container *ngSwitchDefault>
        <lhc-item-question [item]="item" class="lhc-de"></lhc-item-question>
      </ng-container>
    </ng-container>

  <!-- </div> -->
</ng-container>
