<ng-container *ngIf="item && lhcDataService.targetShown(item)">
  <!-- <div class="lhc-item {{getSiblingStatus(item)}} {{getRowClass(item)}}"> -->
  <!-- <lhc-validate [item]="item"></lhc-validate> -->
    <ng-container  [ngSwitch]="item.dataType">
      <!-- 'group' -->
      <ng-container *ngSwitchCase="'SECTION'">
        <lhc-item-group [item]="item" ></lhc-item-group>
      </ng-container>
      <!-- 'display' -->
      <ng-container *ngSwitchCase="'TITLE'">
        <lhc-item-display [item]="item"></lhc-item-display>
      </ng-container>
      <!-- 'question' -->
      <ng-container *ngSwitchDefault>
        <lhc-item-question [item]="item" class="lhc-de"></lhc-item-question>
        <!-- question item could have sub items -->
        <div *ngIf="item.items" class="lhc-item-group-body">
          <ng-container *ngFor="let item of item.items">
            <lhc-item *ngIf="item && lhcDataService.targetShown(item)" 
              [item]="item" 
              class="lhc-item {{lhcDataService.getSiblingStatus(item)}} {{lhcDataService.getRowClass(item)}}">
            </lhc-item>
          </ng-container>
        </div>
        <!-- a button at the end of each repeating section -->
        <div class="lf-table-item {{lhcDataService.getSiblingStatus(item)}}" *ngIf="item._lastRepeatingItem && lhcDataService.targetShown(item) ">
          <div class="{{lhcDataService.getSkipLogicClass(item)}}">
              <button type="button"
                    class="lhc-float-button lhc-button" id="add-{{item._elementId}}"
                    (click)="lhcDataService.addOneRepeatingItem(item)"
                    (blur)="lhcDataService.hideUnusedItemWarning(item)"
                    nz-popover
                    [(nzPopoverVisible)]="item._showUnusedItemWarning"
                    [nzPopoverContent]="item._unusedItemWarning"
                    nzPopoverPlacement="topLeft"
                    [nzPopoverTrigger]="click"
              >
              + Add another "{{item._text}}"
              </button>
          </div>

        </div>
        
      </ng-container>
    </ng-container>

    
    <!-- a button at the end of each repeating section
    <div *ngIf="item._lastRepeatingItem"
      class="{{lhcDataService.getSkipLogicClass(item)}}">
        <button type="button"
              class="lhc-float-button lhc-button" id="add-{{item._elementId}}"
              (click)="lhcDataService.addOneRepeatingItem(item)"
              (blur)="lhcDataService.hideUnusedItemWarning(item)"
              nz-popover
              [(nzPopoverVisible)]="item._showUnusedItemWarning"
              [nzPopoverContent]="item._unusedItemWarning"
              nzPopoverPlacement="topLeft"
              [nzPopoverTrigger]="click"
        >
        + Add another "{{item._text}}"
        </button>
    </div> -->
  <!-- </div> -->
</ng-container>
