.lf-item-error:before {
  content: "\26A0";
  color: red;
  margin-left: 3px;
  margin-right: 6px;
  font-weight: bold;
}

.lf-item-error {
  background-color: orange;
}

.lf-item-warning {
  background-color: lightyellow;
}

.lf-item-warning:before {
  content: "\26A0";
  color: orange;
  margin-left: 3px;
  margin-right: 6px;
  font-weight: bold;
}

.lf-item-info:before {
  content: "\1F6C8";
  margin-right: 6px;
}
