<ng-container *ngIf="item && isSimpleType">
  <div class="lhc-de-input">
    <lhc-input [item]="item"></lhc-input>
  </div>
  <!-- single unit -->
  <div class="lhc-de-unit" *ngIf="hasSingleUnit">
    <div class="lf-field-units" >
      <input
        class="units"
        type="text"
        id="{{unitElementId}}"
        value="{{item.unit.name}}"
        aria-labelledby="th_Units"
        readonly
        (blur)="lhcDataService.activeRowOnBlur(item)"
        (focus)="lhcDataService.setActiveRow(item)"
      >
    </div>  
  </div>
</ng-container>
