
<!--sub sections, check each item's layout -->
<div class="lhc-item-group-title lhc-de-label-button">
  <div class="lhc-de-label">
    <lhc-item-question-text [item]="item"></lhc-item-question-text>  
  </div>
  <div class="lhc-de-button">
    <button *ngIf="!lhcDataService.hasOneRepeatingItem(item)" class="lhc-float-button lhc-button" type="button"
              (click)="lhcDataService.removeOneRepeatingItem(item)" id="del-{{item._elementId}}"
              title='Remove this "{{ item._text }}"'>-</button>
              <!-- <button class="lhc-float-button" type="button"
              id="del-{{item._elementId}}"
              title='Remove this "{{ item._text }}"'
              (click)="test()">-</button> -->
  </div>
  
</div>

<!-- <div *ngIf="item.items" class="lhc-item-group-body">
  <ng-container *ngFor="let item of item.items">
    <lhc-item [item]="item" class="lhc-item {{lhcDataService.getSiblingStatus(item)}} {{lhcDataService.getRowClass(item)}}"></lhc-item>
  </ng-container>
</div> -->