<ng-container *ngIf="item">
  <!-- label -->
  <div class="lhc-de-label">
    <span *ngIf="item._questionRepeatable" class="lf-sn">{{lhcDataService.getRepeatingSN(item) }}</span>
    <span class="lf-question">
      <label id="label-{{ item._elementId }}" for="{{item._elementId}}">
        <span *ngIf="item.prefix" class="prefix" [ngStyle]="item._obj_prefixCSS">{{item.prefix}}</span>
        <span class="question" [ngStyle]="item._obj_textCSS"> {{item.question}}
          <span *ngIf="item._answerRequired" class="required" title="Required">&nbsp;*</span>
        </span>
      </label>
    </span>
    <!-- <span class="lf-item-code" *ngIf="lfData.templateOptions.showQuestionCode">
      <a *ngIf="item._linkToDef" href="{{ item._linkToDef }}" target="_blank" rel="noopener noreferrer">
        [{{ item.questionCode }}]</a>
      <span *ngIf="!item._linkToDef">[{{ item.questionCode }}]</span>
    </span>     -->
  </div>

  <!-- button -->
  <!-- <div class="lhc-de-button">
    <button ng-if="!hasOneRepeatingItem(item)" class="lhc-float-button lhc-button" type="button"
            id="del-{{item._elementId}}"
            title='Remove this "{{ item._text }}"'>-</button>
  </div> -->
</ng-container>
