<div *ngIf="item" class="lhc-layout-matrix lf-table-item {{lhcDataService.getSiblingStatus(item)}}">
  <div class="lf-form-matrix-table-title lf-de-label">
    <span class="lf-question">
      <label id="label-{{ item._elementId }}" for="{{item._elementId}}">
        <span *ngIf="item.prefix" class="prefix" [ngStyle]="item._obj_prefixCSS">{{item.prefix}}</span>
        <span class="question" [ngStyle]="item._obj_textCSS"> {{item.question}}
          <span *ngIf="item._answerRequired" class="required" title="Required">&nbsp;*</span>
        </span>
      </label>
    </span>
    <!-- <span class="lf-item-code" ng-show="lfData.templateOptions.showQuestionCode">
      <a ng-if="item._linkToDef" href="{{ item._linkToDef }}" target="_blank" rel="noopener noreferrer">[{{ item.questionCode }}]</a>
      <span ng-if="!item._linkToDef">[{{ item.questionCode }}]</span>
    </span>
    <span ng-switch on="getCodingInstructionsDisplayType(item)" ng-if="item.codingInstructions">
      <span ng-switch-when="inline-html" class="lf-prompt" ng-bind-html="getTrustedCodingInstructions(item)"
       id="help-{{ item._elementId }}"></span>
      <span ng-switch-when="inline-escaped" class="lf-prompt" ng-bind="item.codingInstructions"
       id="help-{{ item._elementId }}"></span>
      <button ng-switch-when="popover-html" class="lf-help-button btn-sm" uib-popover-template="'popover.html'"
              popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
              type="button" id="helpButton-{{item._elementId}}" aria-label="Help"
              aria-describedby="label-{{ item._elementId }}">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </button>
      <button ng-switch-when="popover-escaped" class="lf-help-button btn-sm" uib-popover="{{item.codingInstructions}}"
              popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
              type="button" id="helpButton-{{item._elementId}}" aria-label="Help"
              aria-describedby="label-{{ item._elementId }}">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </button>
    </span>
    <button ng-if="item.copyrightNotice" id="copyright-{{item._elementId}}" type="button"
            class="lf-copyright-button btn-sm" uib-popover="{{item.copyrightNotice}}"
            popover-trigger="focus" popover-placement="right" popover-title="Copyright"
            aria-label="Copyright notice" aria-describedby="label-{{ item._elementId }}">
      <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
    </button>
    <button ng-if="isItemOptionPanelButtonShown(item)" type="button" class="lf-control-button btn-sm"
            ng-click="hideShowItemOptionPanel(item)" aria-label="Item controls"
            aria-describedby="label-{{item._elementId}}">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
    <lf-item-options></lf-item-options> -->
  </div>
  
  <table class="lf-form-matrix-table lf-form-table">
      <colgroup>
        <col class="lf-question">
        <col *ngFor="let answer of item.items[0].answers">
        <col class="other-answer" *ngIf="item.items[0].dataType ==='CWE'">
      </colgroup>
      <thead>
      <tr class="lhc-matrix-table-header-row">
        <th class="lf-question lf-form-table-header"></th>
        <th *ngFor="let answer of item.items[0].answers; index as i;"
            class="lf-form-matrix-cell lf-form-table-header"
            id="answer-{{index}}">{{answer.text}}</th>
        <th class="lf-form-matrix-cell-other lf-form-table-header" *ngIf="item.items[0].dataType ==='CWE'"
         id="otherAnswer">Other</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let subItem of item.items; trackBy: lhcDataService.trackByElementId" role="radiogroup"
         aria-labeledby="label-{{subItem._elementId }}"
         aria-describedby="help-{{ subItem._parentItem._elementId }} help-{{ subItem._elementId }}">
        <td class="lf-question">
          <div class="lf-de-label">
            <span class="lf-question">
              <label id="label-{{ subItem._elementId }}" for="{{subItem._elementId}}">
                <span *ngIf="subItem.prefix" class="prefix" [ngStyle]="subItem._obj_prefixCSS">{{subItem.prefix}}</span>
                <span class="question" [ngStyle]="subItem._obj_textCSS"> {{subItem.question}}
                  <span *ngIf="subItem._answerRequired" class="required" title="Required">&nbsp;*</span>
                </span>
              </label>        
            </span>

            <!-- <span class="lf-item-code" ng-show="lfData.templateOptions.showQuestionCode">
              <a ng-if="subItem._linkToDef" href="{{ subItem._linkToDef }}" target="_blank" rel="noopener noreferrer">[{{ subItem.questionCode }}]</a>
              <span ng-if="!subItem._linkToDef">[{{ subItem.questionCode }}]</span>
            </span>
            <span ng-switch on="getCodingInstructionsDisplayType(subItem)" ng-if="subItem.codingInstructions">
              <span ng-switch-when="inline-html" id="help-{{subItem._elementId}}"
               class="lf-prompt" ng-bind-html="getTrustedCodingInstructions(subItem)"></span>
              <span ng-switch-when="inline-escaped" id="help-{{subItem._elementId}}"
               class="lf-prompt" ng-bind="subItem.codingInstructions"></span>
              <button ng-switch-when="popover-html" class="lf-help-button btn-sm" uib-popover-template="'popover.html'"
                      popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                      type="button" id="helpButton-{{subItem._elementId}}"
                      aria-label="Help" aria-describedby="label-{{ subItem._elementId }}">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              </button>
              <button ng-switch-when="popover-escaped" class="lf-help-button btn-sm" uib-popover="{{subItem.codingInstructions}}"
                      popover-trigger="focus" popover-placement="right"  popover-title="Instruction"
                      type="button" id="helpButton-{{subItem._elementId}}" aria-label="Help"
                      aria-describedby="label-{{ subItem._elementId }}">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              </button>
            </span>
            <button ng-if="subItem.copyrightNotice" id="copyright-{{subItem._elementId}}" type="button"
                    class="lf-copyright-button btn-sm" uib-popover="{{subItem.copyrightNotice}}"
                    popover-trigger="focus" popover-placement="right" popover-title="Copyright"
                    aria-label="Copyright notice"
                    aria-describedby="label-{{ subItem._elementId }}">
              <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
            </button> -->
          </div>
        </td>
        <td *ngFor="let answer of item.items[0].answers; index as i"
         class="lf-form-matrix-cell">
          <span class="lf-form-matrix-answer">
            <label *ngIf="subItem._multipleAnswers">
              <input type="checkbox" id="{{subItem._elementId + answer.code}}"
               (click)="lhcDataService.updateCheckboxList(subItem, answer)" aria-labeledby="answer-{{index}}">
            </label>
            <label *ngIf="!subItem._multipleAnswers">
              <input type="radio" id="{{subItem._elementId + answer.code}}"
               aria-labeledby="answer-{{index}}" [(ngModel)]="subItem.value" [value]="answer"
                     name="{{subItem._elementId}}" (change)="lhcDataService.updateRadioList(subItem)">
            </label>
          </span>
        </td>
        <td class="lf-form-matrix-cell-other" *ngIf="subItem.dataType ==='CWE'"
         aria-labeledby=otherAnswer>
          <!--for multiple answers-->
          <span *ngIf="subItem._multipleAnswers" class="lf-form-matrix-answer">
            <label>
              <input type="checkbox" [(ngModel)]="subItem._otherValueChecked"
                     id="{{subItem._elementId + '_other'}}"
                     (change)="updateCheckboxListForOther(subItem, subitem._answerOther)">
            </label>
            <label>
              <input type="text" [(ngModel)]="subItem._answerOther"
                     id="{{subItem._elementId + '_otherValue'}}"
                     (change)="updateCheckboxListForOther(subItem, subitem._answerOther)">
            </label>
          </span>
          <!--for single answer-->
          <span *ngIf="!subItem._multipleAnswers" class="lf-form-matrix-answer">
            <label>
              <input type="radio" id="{{subItem._elementId + '_other'}}" [(ngModel)]="subItem._otherValueChecked"
                     [value]="'true'" name="{{subItem._elementId}}"
                     (change)="updateRadioListForOther(subItem, subitem._answerOther)">
            </label>
            <label>
              <input type="text" id="{{subItem._elementId + '_otherValue'}}" [(ngModel)]="subitem._answerOther"
                     (change)="updateRadioListForOther(subItem, subitem._answerOther)">
            </label>
          </span>
        </td>
      </tr>
      </tbody>
    </table>

  <!-- <lf-repeating-button></lf-repeating-button> -->

</div>

