<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">

    <title>lforms Directive Test</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/start/jquery-ui.min.css" />
    <link rel="stylesheet" href="../bower_components/autocomplete-lhc/source/auto_completion.css" />
    <!-- endbower -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin" media="all"/>

    <!-- lforms directive css files -->
    <link rel="stylesheet" href="styles/lforms.css">
    <!-- end of lforms directive css files -->

  </head>
  <body ng-app="lformsTestApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/jquery-ui/ui/core.js"></script>
    <script src="../bower_components/jquery-ui/ui/widget.js"></script>
    <script src="../bower_components/jquery-ui/ui/button.js"></script>
    <script src="../bower_components/jquery-ui/ui/dialog.js"></script>
    <script src="../bower_components/jquery-ui/ui/datepicker.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/prototype_api.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/effects.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/effectScroll.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/event.simulate.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/observable.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/screenReaderLog.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/recordDataRequester.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/fieldAlarms.js"></script>
    <script src="../bower_components/autocomplete-lhc/soundmanager/bonk.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/dialog.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autoCompBase.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/suggestionDialog.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autoCompPrefetch.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autoCompSearch.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autoCompEvents.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autocomplete-lhc.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
    <script src="scripts/lib/polyfill.js"></script>
    <!-- endbower -->

    <!-- lforms directive js files -->
    <script src="lforms.js"></script>
    <script src="lforms.tpl.js"></script>
    <script src="scripts/lib/js-class.js"></script>
    <script src="scripts/lib/cross_browser.js"></script>
    <script src="scripts/lib/date.js"></script>
    <script src="scripts/lib/lforms-util.js"></script>
    <script src="scripts/lib/lforms-hl7.js"></script>
    <script src="scripts/lib/lforms-fhir.js"></script>
    <script src="scripts/lib/lforms-validate.js"></script>
    <script src="scripts/lib/lforms-data.js"></script>
    <script src="scripts/lforms-constants.js"></script>
    <script src="scripts/lforms-config.js"></script>
    <script src="scripts/lforms-controllers.js"></script>
    <script src="scripts/lforms-directives.js"></script>
    <!-- end of lforms directive js files -->
    <!-- test data files -->
    <script src="data/sample-data.js"></script>
    <script src="data/test-data.js"></script>
    <script src="data/ri-data.js"></script>
    <!-- end of test data files -->

    <!-- lforms test controller -->
    <script type="text/javascript">
      angular.module('lformsTestApp', ['lformsWidget'])
          .controller('lformsTestControllerH', ['$scope', function ($scope) {
            $scope.lfData2 = new LForms.LFormsData(angular.copy(horizontalFHTData));
            $scope.lfOption2 = {
              allowMultipleEmptyRepeatingItems: true
            };
            $scope.useFormDataV = function() {
              $scope.lfData2 = new LForms.LFormsData(angular.copy(FHTData));
              $scope.lfOption2 = {
                showQuestionCode: true,
                showCodingInstruction: false,
                tabOnInputFieldsOnly: false,
                hideHeader: false,
                hideCheckBoxes: false,
                allowMultipleEmptyRepeatingItems: true
              };
            };

            $scope.useFormDataH = function() {
              var lfData2 = new LForms.LFormsData(angular.copy(horizontalFHTData));
              var lfOption2 = {
                showQuestionCode: true,
                showCodingInstruction: true,
                tabOnInputFieldsOnly: false,
                hideHeader: false,
                hideCheckBoxes: false,
                allowMultipleEmptyRepeatingItems: true
              };
              //lfData2.setTemplateOptions(lfOption2);

              $scope.lfOption2 = lfOption2;
              $scope.lfData2 = lfData2;
            };

            $scope.useFormDataVWithNewOptions = function() {
              $scope.lfOption2 = {
                showQuestionCode: false,
                showCodingInstruction: false,
                tabOnInputFieldsOnly: false,
                hideHeader: true,
                hideCheckBoxes: false,
                obrHeader: false,
                allowMultipleEmptyRepeatingItems: true
              };
            };

            // An example of how to get the user data
            $scope.getData = function() {
              // optional parameters are available to getUserData()
              var data = $scope.lfData2.getUserData();
              console.log(data);
            }
          }]);
    </script>

    <div id="horizontal-form" ng-controller="lformsTestControllerH">
      <button id="load1" ng-click="useFormDataV()">Use a form with vertical layout</button>
      <button id="load2" ng-click="useFormDataH()">Use a form with horizontal layout</button>
      <button id="load3" ng-click="useFormDataVWithNewOptions()">Use the same form but with new options</button>

      <button ng-click="getData()">Click to get form data</button>
      <lforms lf-data="lfData2" lf-options="lfOption2"></lforms>
    </div>

  </body>
</html>
