<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">

    <title>lforms Directive Test</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/start/jquery-ui.min.css" />
    <link rel="stylesheet" href="../bower_components/autocomplete-lhc/source/auto_completion.css" />
    <!-- endbower -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin" media="all"/>

    <!-- lforms directive css files -->
    <link rel="stylesheet" href="styles/lforms.css">
    <!-- end of lforms directive css files -->

  </head>
  <body ng-app="lformsTestApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/jquery-ui/ui/core.js"></script>
    <script src="../bower_components/jquery-ui/ui/widget.js"></script>
    <script src="../bower_components/jquery-ui/ui/button.js"></script>
    <script src="../bower_components/jquery-ui/ui/dialog.js"></script>
    <script src="../bower_components/jquery-ui/ui/datepicker.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/prototype_api.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/effects.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/effectScroll.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/event.simulate.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/observable.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/screenReaderLog.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/recordDataRequester.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/fieldAlarms.js"></script>
    <script src="../bower_components/autocomplete-lhc/soundmanager/bonk.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/dialog.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autoCompBase.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/suggestionDialog.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autoCompPrefetch.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autoCompSearch.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autoCompEvents.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autocomplete-lhc.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
    <script src="../bower_components/angular-ui-validate/dist/validate.js"></script>
    <!-- endbower -->

    <!-- lforms directive js files -->
    <script src="lforms.js"></script>
    <script src="lforms.tpl.js"></script>
    <script src="scripts/lib/js-class.js"></script>
    <script src="scripts/lib/cross_browser.js"></script>
    <script src="scripts/lib/date.js"></script>
    <script src="scripts/lib/util.js"></script>
    <script src="scripts/lib/hl7.js"></script>
    <script src="scripts/lib/lforms-data.js"></script>
    <script src="scripts/lforms-constants.js"></script>
    <script src="scripts/lforms-config.js"></script>
    <script src="scripts/lforms-controllers.js"></script>
    <script src="scripts/lforms-directives.js"></script>
    <!-- end of lforms directive js files -->

    <!-- test data files -->
    <script src="data/sample-data.js"></script>
    <script src="data/test-data.js"></script>
    <script src="data/ri-data.js"></script>
    <!--<script src="data/cde-data.js"></script>-->
    <!-- end of test data files -->

    <!-- lforms-converter files -->
    <script src="../bower_components/oboe/dist/oboe-browser.js"></script>
    <script src="../bower_components/traverse/traverse.js"></script>
    <script src="../bower_components/lodash/lodash.js"></script>
    <script src="../bower_components/lforms-converter/lforms-converter.js"></script>
    <!-- end of lforms-converter files -->

    <!-- lforms test controller -->
    <script type="text/javascript">

      angular.module('lformsTestApp', ['lformsWidget'])
          .controller('lformsTestController', ['$scope', '$timeout', 'lformsConfig', 'LF_CONSTANTS', '$q',
              function ($scope, $timeout, lformsConfig, LF_CONSTANTS, $q) {
            $scope.showValidation = false;
            $scope.selectedForm = null;
            $scope.testForms = [
              {text: 'USSG-FHT, (with mock-up items for skip logic demo)', id: '54127-6N'},
              {text: 'USSG-FHT, (with mock-up items for horizontal layout demo)', id: '54127-6H'},
              {text: 'Glasgow Coma Score (with score rules)', id: '35088-4B'},
              {text: 'Full-Featured Demo', id: 'all-in-one'},
              {text: 'Form Builder created test form', id: 'formC'},
              {text: 'Minimum Data Set - version 3.0', id: '54580-6NEW'},
              {text: 'Form With User Data', id: 'form-with-user-data'},
              {text: 'CDE sample form #1', id: 'cde1'},
              {text: 'RxTerms Demo', id: 'X-001'},
              {text: 'List Template', id: 'list-template'},
              {text: 'Matrix Layout, single selection', id: 'matrix-layout2'},
              {text: 'Matrix Layout, multiple selections', id: 'matrix-layout'},
              {text: "HL7 Genetic Test Panel for Simple Variants", id: "X1000-0"},
              {text: "HL7 Genetic Test Panel for Simple Variants (table version)", id: "X2000-0"}

            ];

            // indirect testing of the events emitted from within the LForms widget
            $scope.$on(LF_CONSTANTS.EVENT_REPEATING_ITEM_ADDED, function(event, eventAttr) {
              window._emittedEvent = eventAttr;
              console.log(eventAttr);
            });

            $scope.$on(LF_CONSTANTS.EVENT_REPEATING_ITEM_DELETED, function(event, eventAttr) {
              window._emittedEvent = eventAttr;
              console.log(eventAttr);
            });

            $scope.toggleValidationSection = function() {
              $scope.showValidation = !$scope.showValidation;
            };
            $scope.localValidateFunc = function(value) {
              return value.length === 2 ? true : false;
            };
            $scope.notBlackListed = function(value) {
              var blacklist = ['bad@domain.com', 'verybad@domain.com'];
              return blacklist.indexOf(value) === -1;
            };
            $scope.doesNotExist = function(value) {
              var db = ['john.doe@mail.com', 'jane.doe@mail.com'];
              // Simulates an asyncronous trip to the server.
              return $q(function(resolve, reject) {
                $timeout(function() {
                  if (db.indexOf(value) < 0) {
                    resolve();
                  } else {
                    reject();
                  }
                }, 500);
              });
            };
                $scope.item1 = {
                  "questionCode": "qc1",
                  "question": "Item 1",
                  "dataType": "INT",
                  "restrictions": {"maxLength": 6, "minLength": 3}
                }

            $scope.changeOptions = function() {
              $scope.lfOption2 = {
                allowHTMLInInstructions: false
              };
            };

            $scope.getFormDefDataAndResetForm = function() {
              var formDefData = $scope.lfData2.getFormData();
              // change a value
              formDefData.items[0].items[0].value= 'after reset';
              $scope.lfData2 = new LFormsData(formDefData);
            };

            $scope.changeTemplate = function(template) {
              $scope.lfData2.template = template;
            };

            $scope.showHL7Segments = function() {
              var hl7Seg = LForms.HL7.toHL7Segments($scope.lfData2);
              console.log(hl7Seg.replace(/\r/g,'\r\n'));
            };

            $scope.useForm = function() {
              var useAnimation = !window._INTESTING_;

              var lfData2,
                  lfOption2 = {
                    allowMultipleEmptyRepeatingItems: true,
                    useAnimation: useAnimation
                  };

              switch ($scope.selectedForm) {
                case '54127-6N':
                  //'USSG-FHT, (with mock-up items for skip logic demo)'
                  lfData2 = new LFormsData(angular.copy(FHTData));
                  lfOption2 = {
                    allowMultipleEmptyRepeatingItems: false,
                    useAnimation: useAnimation
                  };
                  break;
                case '54127-6H':
                  //'USSG-FHT, (with mock-up items for horizontal layout demo)'
                  lfData2 = new LFormsData(angular.copy(horizontalFHTData));
                  break;
                case '35088-4B':
                  //'Glasgow Coma Score (with score rules)'
                  lfData2 = new LFormsData(angular.copy(glasgow));
                  break;
                case 'all-in-one':
                  //'Full-Featured Demo'
                  lfOption2 = {
                    allowHTMLInInstructions: true,
                    useAnimation: useAnimation,
                    allowMultipleEmptyRepeatingItems: true
                  };

                  lfData2 = new LFormsData(angular.copy(allInOne));
                  break;
                case 'formC':
                  //'Form Builder created test form'
                  lfData2 = new LFormsData(angular.copy(formBuilder));
                  break;
                case '54580-6NEW':
                  //'Minimum Data Set - version 3.0'
                  lfData2 = new LFormsData(angular.copy(MDS3));
                  break;
                case 'form-with-user-data':
                  //'Form With User Data'
                  lfData2 = new LFormsData(angular.copy(formWithUserData));
                  break;
                case 'X-001':
                  //'RxTerms'
                  lfData2 = new LFormsData(angular.copy(rxTerms));
                  break;
                case 'list-template':
                  //'List template'
                  lfData2 = new LFormsData(angular.copy(listTemplateForm));
                  break;
                case 'matrix-layout':
                  //'matrix layout'
                  lfData2 = new LFormsData(angular.copy(matrixLayout));
                  break;
                case 'matrix-layout2':
                  //'matrix layout 2'
                  lfData2 = new LFormsData(angular.copy(matrixLayout2));
                  break;
                case 'X1000-0':
                  lfData2 = new LFormsData(angular.copy(genetic));
                  break;
                case 'X2000-0':
                  lfData2 = new LFormsData(angular.copy(genetic2));
                  break;
                case 'cde1':
                  //'CDE Sample form'
                  var converter = new LFormsConverter();
                  //var url = "https://cde.nlm.nih.gov/form/m18d81BHYg;";
                  converter.convert("/data/cde-data.json",
                      function(data) {
                        $scope.lfData2 = new LFormsData(data);
                        // hide checkboxes (and show question codes for testing)
                        $scope.lfOption2 = {hideHeader: true, showQuestionCode: true, useAnimation: useAnimation};
                        // Or:   $scope.lfData2.setTemplateOptions({hideHeader: true, showQuestionCode: true});
                        $scope.$apply();
                      },
                      function(err) {
                        console.log(err);
                      }
                  );
                  break;
              }

              $scope.lfData2 = lfData2;
              $scope.lfOption2 = lfOption2;
            };
          }]);
    </script>

    <div id="lforms-form" ng-controller="lformsTestController">
      <div class="panel panel-default">
        <div class="panel-heading">LForms Directive Test Page</div>
        <div class="panel-body">
          <p><small>Select a form from the list and click the button to display the form</small></p>
            <select id="form-list" ng-model="selectedForm" class="form-control">
              <option value="">--- Please Select ---</option>
              <option ng-repeat="form in testForms" value="{{form.id}}">{{form.text}}</option>
            </select>
          <p></p>
          <button id="load-form-data" class="btn btn-primary" ng-click="useForm()">Load Form</button>
          <button id="change-option" class="btn btn-primary" ng-click="changeOptions()">Change Options</button>
          <button id="reset-form-with-same-data" class="btn btn-primary" ng-click="getFormDefDataAndResetForm()">Reset Form(using form data retrieved from form)</button>
          <button id="to-list" class="btn btn-primary" ng-click="changeTemplate('list')">Use 'list' Template</button>
          <button id="to-table" class="btn btn-primary" ng-click="changeTemplate('table')">Use 'table' Template</button>
          <button id="get-hl7" class="btn btn-primary" ng-click="showHL7Segments()">Show HL7 OBR/OBX Segments</button>
          <button id="validation-demo" class="btn btn-primary" ng-click="toggleValidationSection()">Show/Hide Validation Demo Section</button>

        </div>
      </div>

      <lforms lf-data="lfData2" lf-options="lfOption2"></lforms>
      <div ng-include="'validation-demo.html'" ng-if="showValidation"></div>
    </div>

    <script type="text/ng-template" id="validation-demo.html">
      <h2>ng-validate</h2>
      <br>
      <form name="form">
        <h3>e-mail</h3>
        <input class="form-control" name="email" placeholder="try john.doe@mail.com or bad@domain.com" type="email" required ng-model="email" ng-model-options="{ debounce: 100 }"
               ui-validate="{blacklist: 'notBlackListed($value)'}"
               ui-validate-async="{alreadyExists: 'doesNotExist($modelValue)'}">
        <span ng-show='form.email.$error.blacklist'>This e-mail is black-listed!</span>
        <span ng-show='form.email.$error.alreadyExists'>This e-mail is already taken!</span>
        <span ng-show='form.email.$pending'>Verifying e-mail on server...</span>
        <br>is form valid: {{form.$valid}}
        <br>
        <br>email errors: {{form.email.$error | json}}
        <br>email pending: {{form.email.$pending | json}}
        <h3>password</h3>
        <input class="form-control" name="password" type="text" required ng-model="password" placeholder="password">
        <input class="form-control" name="confirm_password" type="text" required ng-model="confirm_password" ui-validate=" '$value==password' "
               ui-validate-watch=" 'password' " placeholder="confirm password">
        <span ng-show='form.confirm_password.$error.validator'>Passwords do not match!</span>
        <br>is form valid: {{form.$valid}}
        <br>
        <br>password errors: {{form.confirm_password.$error| json}}
      </form>

      <div>
        <form name="testFormA" novalidate>
          <label>ng-validate function</label>
          <input name="val1" ng-model="val1" ui-validate="{customError : 'localValidateFunc($value)' }">
          <pre>
            $error : <br>
            {{ testFormA.val1.$error }}
          </pre>

          <div lf-validate="item1"> </div>
          <label>lf-data-type INT</label>
          <input name="item1" type="text" ng-model="item1.value">
          <pre>
            $error : <br>
            {{ testFormA.item1.$error }}
          </pre>

        </form>
      </div>

      <h2>Angular builtin validators</h2>
      <br>
      <div>
        <form name="testForm" novalidate>
          <label>required</label>
          <input name="req1" ng-model="req1" required>
          <pre>
            $error : <br>
            {{ testForm.req1.$error }}
          </pre>

          <label>number without max or min</label>
          <input name="num1" type="number" ng-model="number1">
          <pre>
            $error : <br>
            {{ testForm.num1.$error }}
          </pre>

          <label>number with max=5 and min=2</label>
          <input name="num2" type="number" ng-model="number2" max="5" min="2">
          <pre>
            $error : <br>
            {{ testForm.num2.$error }}
          </pre>

          <label>url</label>
          <input name="url1" type="url" ng-model="url1">
          <pre>
            $error : <br>
            {{ testForm.url1.$error }}
          </pre>

          <label>email</label>
          <input name="email1" type="email" ng-model="email1">
          <pre>
            $error : <br>
            {{ testForm.email1.$error }}
          </pre>

          <label>text with maxlength=5 and minlength=2 (use ng-maxlength and ng-minlength)</label>
          <input name="str1" type="text" ng-model="str1" ng-maxlength="5" ng-minlength="2">
          <pre>
            $error : <br>
            {{ testForm.str1.$error }}
          </pre>

          <label>pattern (use ng-pattern), letter only /^[a-zA-Z]+$/</label>
          <input name="pat1" ng-model="pat1" ng-pattern="/^[a-zA-Z]+$/">
          <pre>
            $error : <br>
            {{ testForm.pat1.$error }}
          </pre>

          <label>Pull it all together: text required. maxlength, minlength, pattern /^[a-zA-Z]+$/</label>
          <input name="all1" type="text" ng-model="all1" ng-pattern="/^[a-zA-Z]+$/" required ng-maxlength="5" ng-minlength="2">
          <pre>
            $error : <br>
            {{ testForm.all1.$error }}
          </pre>

          <label>Pull it all together: number required. max, min, pattern /^[0-9]+$/</label>
          <input name="all2" type="number" ng-model="all2" ng-pattern="/^[0-9]+$/" required max="5" min="2">
          <pre>
            $error : <br>
            {{ testForm.all2.$error }}
          </pre>

          <p></p>
          <label>Local validators</label>
          <p></p>

          <label>Smart Float</label>
          <input name="sm1" type="text" ng-model="sm1" smart-float>
          <pre>
            $error : <br>
            {{ testForm.sm1.$error }}
          </pre>

          <label>lf-data-type INT</label>
          <input name="lftype1" type="text" ng-model="lftype1" lf-data-type="INT" check-data-type>
          <pre>
            $error : <br>
            {{ testForm.lftype1.$error }}
          </pre>

          <label>lf-data-type REAL</label>
          <input name="lftype2" type="text" ng-model="lftype2" lf-data-type="REAL" check-data-type>
          <pre>
            $error : <br>
            {{ testForm.lftype2.$error }}
          </pre>

          <label>lf-data-type EMAIL</label>
          <input name="lftype3" type="text" ng-model="lftype3" lf-data-type="EMAIL" check-data-type>
          <pre>
            $error : <br>
            {{ testForm.lftype3.$error }}
          </pre>

          <label>lf-data-type PHONE</label>
          <input name="lftype4" type="text" ng-model="lftype4" lf-data-type="PHONE" check-data-type>
          <pre>
            $error : <br>
            {{ testForm.lftype4.$error }}
          </pre>

          <label>lf-data-type TM</label>
          <input name="lftype5" type="text" ng-model="lftype5" lf-data-type="TM" check-data-type>
          <pre>
            $error : <br>
            {{ testForm.lftype5.$error }}
          </pre>

          <label>lf-data-type DT</label>
          <input name="lftype6" type="text" ng-model="lftype6" lf-data-type="DT" check-data-type>
          <pre>
            $error : <br>
            {{ testForm.lftype6.$error }}
          </pre>

        </form>
      </div>
    </script>

  </body>
</html>
