<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">

    <title>lforms Directive Test</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/start/jquery-ui.min.css" />
    <link rel="stylesheet" href="../bower_components/autocomplete-lhc/source/auto_completion.css" />
    <!-- endbower -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin" media="all"/>

    <!-- lforms directive css files -->
    <link rel="stylesheet" href="styles/lforms.css">
    <!-- end of lforms directive css files -->

  </head>
  <body ng-app="lformsTestApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/jquery-ui/ui/core.js"></script>
    <script src="../bower_components/jquery-ui/ui/widget.js"></script>
    <script src="../bower_components/jquery-ui/ui/button.js"></script>
    <script src="../bower_components/jquery-ui/ui/dialog.js"></script>
    <script src="../bower_components/jquery-ui/ui/datepicker.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/prototype_api.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/effects.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/effectScroll.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/event.simulate.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/observable.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/screenReaderLog.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/recordDataRequester.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/fieldAlarms.js"></script>
    <script src="../bower_components/autocomplete-lhc/soundmanager/bonk.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/dialog.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autoCompBase.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/suggestionDialog.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autoCompPrefetch.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autoCompSearch.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autoCompEvents.js"></script>
    <script src="../bower_components/autocomplete-lhc/source/autocomplete-lhc.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
    <!-- endbower -->

    <!-- lforms directive js files -->
    <script src="lforms.js"></script>
    <script src="lforms.tpl.js"></script>
    <script src="scripts/lib/js-class.js"></script>
    <script src="scripts/lib/cross_browser.js"></script>
    <script src="scripts/lib/date.js"></script>
    <script src="scripts/lib/util.js"></script>
    <script src="scripts/lib/lforms-data.js"></script>
    <script src="scripts/lforms-constants.js"></script>
    <script src="scripts/controllers/lforms-controller.js"></script>
    <script src="scripts/directives/lf-date.js"></script>
    <!-- end of lforms directive js files -->

    <!-- test data files -->
    <script src="data/sample-data.js"></script>
    <script src="data/test-data.js"></script>
    <script src="data/ri-data.js"></script>
    <!--<script src="data/cde-data.js"></script>-->
    <!-- end of test data files -->

    <!-- lforms-converter files -->
    <script src="../bower_components/oboe/dist/oboe-browser.js"></script>
    <script src="../bower_components/traverse/traverse.js"></script>
    <script src="../bower_components/lodash/lodash.js"></script>
    <script src="../bower_components/lforms-converter/lforms-converter.js"></script>
    <!-- end of lforms-converter files -->

    <!-- lforms test controller -->
    <script type="text/javascript">
      angular.module('lformsTestApp', ['lformsWidget'])
          .controller('lformsTestController', ['$scope', function ($scope) {
            $scope.selectedForm = null;
            $scope.testForms = [
              {text: 'USSG-FHT, (with mock-up items for skip logic demo)', id: '54127-6N'},
              {text: 'USSG-FHT, (with mock-up items for horizontal layout demo)', id: '54127-6H'},
              {text: 'Glasgow Coma Score (with score rules)', id: '35088-4B'},
              {text: 'Glasgow Coma Score (with score rules)--RI', id: '35088-4'},
              {text: 'Full-Featured Demo', id: 'all-in-one'},
              {text: 'Form Builder created test form', id: 'formC'},
              {text: 'Minimum Data Set - version 3.0', id: '54580-6NEW'},
              {text: 'Form With User Data', id: 'form-with-user-data'},
              {text: 'CDE sample form #1', id: 'cde1'}
            ];

            $scope.useForm = function() {
              var lfData2;
              switch ($scope.selectedForm) {
                case '54127-6N':
                  //'USSG-FHT, (with mock-up items for skip logic demo)'
                  lfData2 = new LFormsData(angular.copy(FHTData));
                  break;
                case '54127-6H':
                  //'USSG-FHT, (with mock-up items for horizontal layout demo)'
                  lfData2 = new LFormsData(angular.copy(horizontalFHTData));
                  break;
                case '35088-4B':
                  //'Glasgow Coma Score (with score rules)'
                  lfData2 = new LFormsData(angular.copy(glasgow));
                  break;
                case '35088-4':
                  //'Glasgow Coma Score (with score rules)--RI'
                  var formData = angular.copy(glasgowRI);
                  WidgetUtil.preprocessRIData(formData.items);
                  lfData2 = new LFormsData(formData);
                  break;
                case 'all-in-one':
                  //'Full-Featured Demo'
                  lfData2 = new LFormsData(angular.copy(allInOne));
                  break;
                case 'formC':
                  //'Form Builder created test form'
                  lfData2 = new LFormsData(angular.copy(formBuilder));
                  break;
                case '54580-6NEW':
                  //'Minimum Data Set - version 3.0'
                  lfData2 = new LFormsData(angular.copy(MDS3));
                  break;
                case 'form-with-user-data':
                  //'Form With User Data'
                  lfData2 = new LFormsData(angular.copy(formWithUserData));
                  break;
                case 'cde1':
                  //'CDE Sample form'
                  var converter = new LFormsConverter();
                  //var url = "https://cde.nlm.nih.gov/form/m18d81BHYg;";
                  converter.convert("/data/cde-data.json",
                      function(data) {
                        $scope.lfData2 = new LFormsData(data);
                        // hide checkboxes (and show question codes for testing)
                        $scope.lfOption2 = {hideHeader: true, showQuestionCode: true};
                        // Or:   $scope.lfData2.setTemplateOptions({hideHeader: true, showQuestionCode: true});
                        $scope.$apply();
                      },
                      function(err) {
                        console.log(err);
                      }
                  );
                  break;
              }
              $scope.lfData2 = lfData2;
            };
          }]);
    </script>

    <div id="lforms-form" ng-controller="lformsTestController">
      <div class="panel panel-default">
        <div class="panel-heading">LForms Directive Test Page</div>
        <div class="panel-body">
          <p><small>Select a form from the list and click the button to display the form</small></p>
            <select id="form-list" ng-model="selectedForm" class="form-control">
              <option value="">--- Please Select ---</option>
              <option ng-repeat="form in testForms" value="{{form.id}}">{{form.text}}</option>
            </select>
          <p></p>
          <button id="load-form-data" class="btn btn-primary" ng-click="useForm()">Load Form Data</button>
        </div>
      </div>

      <lforms lf-data="lfData2" lf-options="lfOption2"></lforms>
    </div>

  </body>
</html>
